#page-index .notion-header.page {
    display: none !important; }
  
  #page-index h1 {
    margin-bottom: 2.25rem !important; }
  
  @media (max-width: 767.98px) {
    #page-index .notion-column-list .notion-column {
      margin-bottom: 3rem !important; } }
  
  #page-index .notion-collection-gallery .small {
    margin-top: -1.5rem !important; }
  
  @media (max-width: 767.98px) {
    #page-about .notion-image {
      /*was 20rem */ height: 10rem !important; } }
  
  @media (max-width: 767.98px) {
    #page-about .notion-image > div {
      /*was 20rem */ height: 10rem !important; } }
  
  @media (max-width: 767.98px) {
    #page-about .notion-image img {
      object-fit: cover !important; } }
  
  #page-work .notion-text {
    text-align: center !important; }
    @media (max-width: 767.98px) {
      #page-work .notion-text {
        text-align: left !important; } }
    #page-work .notion-text p {
      color: rgba(var(--contrast), 0.5) !important;
      margin-bottom: 0 !important; }
  
  #page-work .notion-collection-gallery.large {
    display: grid !important;
    grid-column-gap: 2.5rem !important;
    grid-row-gap: 2.5rem !important;
    border-top: none !important;
    margin-top: 2.75rem !important;
    margin-bottom: 4rem !important;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 767.98px) {
      #page-work .notion-collection-gallery.large {
        margin-top: 2rem !important;
        grid-template-columns: repeat(1, 1fr); } }
    #page-work .notion-collection-gallery.large .notion-collection-card {
      box-shadow: none !important;
      border-radius: 0.5rem !important; }
      #page-work .notion-collection-gallery.large .notion-collection-card img {
        transform: scale(1) !important;
        transition: all 0.5s ease-in-out !important; }
      #page-work .notion-collection-gallery.large .notion-collection-card:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out !important; }
        #page-work .notion-collection-gallery.large .notion-collection-card:hover img {
          transform: scale(1.5) !important;
          opacity: 0.5 !important; }
        #page-work .notion-collection-gallery.large .notion-collection-card:hover .notion-property__title {
          opacity: 1;
          animation: fadeIn linear 0.5s; }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
      #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.large, #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.large > div, #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.large img, #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.medium, #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.medium > div, #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.medium img,
      #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover.large > span {
        height: 100% !important;
        max-height: 100% !important;
        border-bottom: none !important; }
      #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover {
        min-height: 36.25rem !important;
        background: var(--bg) !important;
        /* trying to solev the issue with Page Blocks showing WHITE*/
        /* background: var(--contrast) !important;*/
        position: relative !important; }
        @media (max-width: 767.98px) {
          #page-work .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover {
            /*was 20rem */ min-height: 10rem !important; } }
      #page-work .notion-collection-gallery.large .notion-collection-card .notion-property__title {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem !important;
        color: var(--bg) !important;
        opacity: 0;
        transition: all 0.5s ease-in-out !important; }
        #page-work .notion-collection-gallery.large .notion-collection-card .notion-property__title .notion-property__title__icon-wrapper {
          display: none !important; }
  
  #page-work .notion-column-list {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 6.875rem !important;
    margin-right: 6.875rem !important; }
    #page-work .notion-column-list .notion-column .notion-image {
      margin-bottom: 2rem !important; }
  
  [id*="writing-"] .notion-page__properties, [id*="writing-"] .notion-text, [id*="writing-"] .notion-quote, [id*="writing-"] .notion-divider, [id*="writing-"] .notion-caption, [id*="writing-"] .notion-code {
    width: 100%;
    max-width: 45rem !important;
    margin-left: auto !important;
    margin-right: auto !important; }
  
  [id*="writing-"] h1.notion-heading {
    width: 45rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1rem !important; }
    @media (max-width: 767.98px) {
      [id*="writing-"] h1.notion-heading {
        width: 100% !important; } }
  [id*="writing-"] .color-gray {
    margin-bottom: 0.5rem !important;
    color: rgba(var(--contrast), 0.5) !important; }
  
  [id*="writing-"] .notion-image {
    max-width: 100% !important;
    margin-bottom: 1rem !important; }
    @media (max-width: 1199.98px) {
      [id*="writing-"] .notion-image {
        width: 100% !important;
        max-width: 100% !important; } }
    [id*="writing-"] .notion-image img {
      max-width: 45rem !important;
      margin-left: auto !important;
      margin-right: auto !important; }
  
  [id*="writing-"] h2 {
    margin-top: 2.5rem !important;
    margin-bottom: 0.5rem !important;
    margin-right: auto;
    margin-left: auto;
    text-transform: unset !important;
    font-size: 1.9rem !important;
    max-width: 45rem !important;
    width: 100%; }
  
  [id*="writing-"] .notion-code pre {
    background: rgba(var(--contrast), 0.1) !important;
    text-shadow: none !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important; }
    [id*="writing-"] .notion-code pre code {
      text-shadow: none !important; }
      [id*="writing-"] .notion-code pre code span, [id*="writing-"] .notion-code pre code .token {
        color: var(--contrast) !important; }
  
  [id*="writing-"] .notion-quote {
    font-family: "Clash Grotesk Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 1.9rem !important; }
  
  [id*="writing-"] .notion-bulleted-list,
  [id*="writing-"] .notion-numbered-list {
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 1.75 !important;
    font-size: 1.125rem !important;
    letter-spacing: 0.025rem !important;
    width: 100%;
    max-width: 45rem !important; }
  
  [id*="writing-"] .notion-text {
    min-height: 2rem !important; }
  
  article[id*="block-writing-"] {
    margin-top: 8rem !important; }
    @media (max-width: 767.98px) {
      article[id*="block-writing-"] .notion-image > div {
        /*was 20rem */height: 10rem !important; }
        article[id*="block-writing-"] .notion-image > div img {
          object-fit: cover !important; } }
  @media (max-width: 767.98px) {
    article[id*="block-projects-"] .notion-image > div {
      /*was 20rem */height: 10rem !important; }
      article[id*="block-projects-"] .notion-image > div img {
        object-fit: cover !important; } }
  
  article[id*="block-projects-"] .notion-column-list .notion-column {
    margin-bottom: 1.5rem !important; }