.notion-collection .notion-collection-table__wrapper table thead {
    display: none !important; }
  
  .notion-collection .notion-collection-table__wrapper table tbody .notion-collection-table__cell.title {
    display: none !important; }
  
  .notion-collection .notion-collection-table__wrapper table tbody tr, .notion-collection .notion-collection-table__wrapper table tbody th {
    color: rgba(var(--contrast), 0.5) !important; }
  
  .notion-collection .notion-collection-table__wrapper table tbody a {
    color: var(--contrast) !important; }
  
  .notion-collection .notion-collection-table {
    font-size: 1.25rem !important; }
    @media (max-width: 767.98px) {
      .notion-collection .notion-collection-table {
        font-size: 1rem !important; } }
  .notion-collection .notion-collection-table td,
  .notion-collection .notion-collection-table th {
    border: none !important;
    font-size: 1.25rem !important;
    color: rgba(var(--contrast), 0.5) !important; }
  
  .notion-collection .notion-collection-table td {
    border: 0 !important;
    padding: 0.25rem 0 !important; }
  
  .notion-collection .notion-collection-table th {
    display: none !important; }
  
  .notion-collection .notion-collection-table__body .title {
    display: none !important; }
  
  .notion-collection .notion-collection-table__cell .notion-semantic-string {
    white-space: normal !important; }
  
  .notion-callout {
    color: var(--bg) !important;
    width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    text-align: left !important;
    opacity: 1 !important; }
    .notion-callout:before {
      content: "" !important;
      background-color: var(--bg) !important;
      /*Trying to fix the Callout Color issue*/
      /*background-color: var(--contrast) !important;*/
      opacity: 0.15 !important;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
    .notion-callout.border {
      border-top: 1px solid rgba(var(--contrast), 0.5) !important;
      border-left: none !important;
      border-bottom: none !important;
      border-right: none !important; }
    .notion-callout.bg-gray-light {
      background: var(--bg) !important; }
    .notion-callout .notion-callout__icon .notion-icon {
      display: none !important; }
    .notion-callout .notion-callout__content {
      max-width: 1342px !important;
      margin: 0 auto !important;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      /*padding-top: 5rem !important;
      padding-bottom: 5rem !important;*/
      opacity: 1 !important;
      position: relative !important; }
      .notion-callout .notion-callout__content .notion-collection tr {
        margin-bottom: 0.15rem !important; }
      .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr a {
        font-family: "General Sans Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; }
      @media (max-width: 767.98px) {
        .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr:first-child {
          display: block !important;
          margin-bottom: 1.5rem !important; } }
      .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr:first-child a {
        margin-right: 1rem !important;
        text-transform: uppercase !important;
        letter-spacing: 0.1rem !important;
        font-size: 0.9875rem !important; }
        @media (max-width: 767.98px) {
          .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr:first-child a {
            margin-right: 0 !important;
            display: block !important;
            margin-bottom: 0.5rem !important; } }
      @media (max-width: 767.98px) {
        .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr:last-child {
          margin-top: 1.5rem !important;
          display: block !important; } }
      .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text {
        font-size: 1.125rem !important;
        letter-spacing: 0.05rem !important;
        color: rgba(var(--contrast), 0.5) !important; }
        @media (max-width: 767.98px) {
          .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text {
            font-size: 1rem !important; } }
        .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text .notion-property__text {
          margin-bottom: 0.25rem !important; }
        .notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text .color-green {
          color: var(--contrast) !important;
          background: var(--bg) !important;
          /* Trying to fix the Callout Color problem*/
          /* background: var(--accent) !important;*/
          font-family: "Clash Grotesk Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
          padding: 0.3rem 0.5rem 0.3rem !important;
          margin-right: 0.5rem !important;
          border-radius: 0.25rem !important; }
  
  .notion-bulleted-list {
    margin: 0 !important;
    margin-bottom: 3rem !important;
    line-height: 1.75 !important;
    font-size: 1.125rem !important;
    letter-spacing: 0.025rem !important; }
  
  .notion-image.page-width {
    margin-bottom: 1.25rem !important; }
  
  .notion-text .notion-text__content .notion-semantic-string span span strong {
    display: inline-block !important; }