:root {

/* $Quick Colors */
--site-accent: 175, 175, 30 !important;
--site-accent-bg: 175, 175, 30 !important;
--site-bg: 37, 37, 37 !important;
--site-hover: 73, 73, 73 !important;
--site-primary: 51, 51, 51 !important;
/* ^Page Width */
--theme-width: 1200px !important;
--responsive-width: calc(100% - var(--column-spacing)) !important;
--long-width: 800px !important;
--mid-width: 400px !important;
--short-width: 200px !important;
/* $UI */
/* ^ Site Border Radius [Rounding] */
--element-radius: 10px !important;
--property-image-radius: 24px !important;
/* ^Site Font Size*/
--body-font: 14px !important;
--title-size: xxx-large !important;
/* ^Site Column Spacing*/
--column-spacing: 2em !important;
/* ^Site Shadow */
--site-shadow: 0 0 0 var(--color-default) !important;
/* ^Site Border */
--default-border: 1px solid var(--accent-bg-light) !important;
/* ^Site Header Level */
--notion-header-page-title: 75vh !important;
/* $Global Colors */
/* $Colors */
--color-white: 255, 255, 255 !important;
--color-black: 0, 0, 0 !important;
--color-gray: 73, 73, 73 !important;
--color-brown: 67, 33, 0 !important;
--color-orange: 153, 67, 10 !important;
--color-yellow: 125, 125, 32 !important;
--color-green: 0, 102, 0 !important;
--color-blue: 10, 49, 97 !important;
--color-purple: 108, 51, 153 !important;
--color-pink: 153, 108, 153 !important;
--color-red: 153, 0, 0 !important;
/* ^global background color */
--color-bg: rgb(var(--site-bg)) !important;
--color-bg-default: rgb(var(--site-bg)) !important;
/* ^default theme color */
--color-default: rgb(var(--site-primary)) !important;
--color-default-light: rgba(var(--site-primary), 0.5) !important;
--color-hover: rgb(var(--site-hover)) !important;
--color-default-hover: rgb(var(--site-hover)) !important;
/* ^default color for element :hover*/
--color-ui-hover-bg: rgba(var(--site-hover), 0.25) !important;
--color-ui-hover-bg-light: rgba(var(--site-hover), 0.125) !important;
    /* ^accent */
--accent: rgb(var(--site-accent)) !important;
--accent-light: rgba(var(--site-accent), 0.5) !important;
/* ^accent color */
--accent-bg: rgb(var(--site-accent-bg)) !important;
--accent-bg-light: rgba(var(--site-accent-bg), 0.5) !important;
/* ^default color for block backgrounds */
--color-card-bg: rgb(var(--site-primary)) !important;
/* ^default navbar color */
--navbar-button-background-color: rgb(232, 232, 0) !important;
/* ^default background color*/
--color-code-bg: var(--color-bg-black) !important;
/* ^global foreground text color */
--color-text-default: rgb(var(--color-white)) !important;
/* ^dimmer global foreground text color */
--color-text-default-light: var(--color-text-gray) !important;
/* ^default border color for elements */
--color-border-default: rgb(var(--site-primary)) !important;
/* $Super Content */
--super-content-bg: var(--color-bg) !important;
--super-footer-padding: 0 2rem !important;
--super-content-padding: 0 !important;
--super-content-margin-top: 0 !important;
/* $Call to Actions */
--cta-padding: 13px 14px !important;
--cta-border-radius: 4px !important;
--cta-border: none !important;
--cta-shadow: none !important;
/* $Images */
--image-border-radius: 10px !important;
/* $Misc */
--divider-margin: 15px 0 !important;
--divider-opacity: 1 !important;
/* $Typography */
--text-spacing: 1px !important;
--secondary-font: "Inter", sans-serif !important;
--notion-text-margin: 0 0 0 0 !important;
/* $Header Hover */
--header-hover: var(--color-text-gray) !important;
/* $Links */
--link-border-width: 0 0 0 0 !important;
--link-border-style: none !important;
--link-border-color: none !important;
/* $Margin */
--code-margin: 1rem 1rem !important;
/* $Database View Picker */
/* $Spacing */
--picker-margin: var(--collection-margin) !important;
--picker-padding: var(--collection-padding) !important;
--picker-border-radius: var(--element-radius) !important;
/* $Active colors */
--picker-active-bg-color: var(--color-bg-yellow) !important;
--picker-active-text-color: var(--color-text-default) !important;
/* $Default colors */
--picker-border-color: var(--color-bg-yellow)  !important;
--picker-text-color: var(--color-text-default) !important;
/* $Hover colors */
--picker-hover-bg-color: var(--color-bg-yellow-light) !important;
--picker-hover-text-color: var(--color-text-default) !important;
--picker-hover-border-color: var(--color-text-yellow) !important;
/* $END Database View Picker */
/* ^Site Hero Image Parralax Effect /fixed/ */
--parralax-effect: fixed !important;
/* Fluid Responsive Font */
--font-title-fallback: 24px !important;
--font-title-min: 1rem !important;
--font-title-preferred: 1vw + 1rem !important;
--font-title-max: 2.5rem !important;
--font-fallback: 16px !important;
--font-min: 16px !important;
--font-preferred: 1.75vw + 2px !important;
--font-max: 32px !important; 
    /* Page Property Titles - Fluid */
--font-title-fluid: clamp(var(--font-title-min), var(--font-title-preferred), var(--font-title-max)) !important;
/* Page Font - Fluid */
--font-fluid: clamp(var(--font-min), var(--font-preferred), var(--font-max)) !important;
/* Border */
--border-default: 2px solid var(--color-bg-yellow-light) !important;
/* COLLECTION CARDS */
/* Grid Layout */
--grid-layout: auto-fit !important;
/* Collection Card Cover Sizes */
/*--collection-card-cover-size-large: 16rem !important;*/
/*--collection-card-cover-size-medium: 12rem !important;*/
/*--collection-card-cover-size-small: 8rem !important;*/
/*--collection-card-cover-size-tiny: 4rem !important;*/
--collection-card-cover-size-larger: 24rem !important;
--collection-card-cover-size-large: 16rem !important;
--collection-card-cover-size-medium: 12rem !important;
--collection-card-cover-size-small: 8rem !important;
--collection-card-cover-size-smaller: 6rem !important;
--collection-card-cover-size-tiny: 4rem !important;
--collection-card-cover-height-small: 128px;
--collection-card-cover-height-medium: 200px;
--collection-card-cover-height-large: 420px;
}

/* WIDGETS */
/* Gumroad Shopping Cart */
/* Default Display: *none* */
/* Only on Front Page, Sometimes */
.gumroad .cart-button {
    display: none;
    position: fixed;
    left: 18px;
    bottom: 18px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: yellow;
    color: black;
    border-color: transparent;
}

/* SUPER NAVBAR */

/* Super Navbar BLUR */
.super-navbar {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: var(--color-default-light);
}
/* END SUPER NAVBAR */



/* DATABASE VIEW PICKER */

/* View Picker: *.active* */
.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active {
    background-color: var(--color-bg-yellow-light) !important;
    border-color: var(--color-border-yellow) !important;
}
/* View Picker: Default */
.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option{
    background-color: var(--color-card-bg) !important;
    border-color: var(--color-bg-yellow) !important;
}
/* Dropdown Option List */
.notion-collection__header-wrapper .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
    padding: 1rem 0 0 0 !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    /*border: 0 none transparent;*/
    border-radius: var(--element-radius);
}

.notion-collection-page .notion-dropdown__menu-wrapper {
  left: 0;
}
/* END DATABASE VIEW PICKER*/ 


/* PAGE PROPERTIES */
/* PROPERTY: *Name* */
.notion-page__properties .notion-page__property .notion-page__property-name {
  min-width: 100%;
  width: 150%;
  max-width: 200%;
  align-items: center;
  white-space: pre-wrap;
}
/* Property: *Property* */
.notion-page__properties .notion-property {
  align-items: center;
  display: block;
  font-size: var(--font-title-fluid);
  margin-left: 5rem;
}
/* PROPERTY:  *URL* */
.notion-property.notion-property__url.property-undefined span.notion-semantic-string a.notion-link.link {
  white-space: break-spaces !important;
  font-size: var(--font-fluid);
}
/* Property: *Images* */
.notion-page__properties .notion-property img {
    min-height: 8rem;
    height: 100%;
    max-height: 16rem;
}
/* PROPERTY: *Pills* */
.notion-pill.first,
span.notion-pill.pill-default,
span.notion-pill.pill-default.first {
  margin: 0.125rem 0.25rem;
  padding: 0.125rem 0.5rem;
  border: var(--border-default);
  border-radius: 4px;
}

/* END PAGE PROPERTIES */



.notion-page__properties .notion-property {
  align-items: baseline;
}

.notion-property__title .notion-property__title__icon-wrapper {
    display: none;
}

.notion-property__title .notion-semantic-string {
    font-weight: 500;
    font-size: var(--font-fluid);
    line-height: 1.5;
    word-break: normal;
} 

div.notion-property__url {
  font-size: 16px;
  font-weight: 100;
  padding: 0;
  white-space: nowrap;
}

.notion-collection-card__property-list {
  display: inline-grid;
}
/*
.notion-header__content.no-cover.no-icon.max-width,
.notion-header__content.no-cover.has-icon {
    margin-top: 10rem;
    display: block;
}
*/

.notion-collection__header-wrapper {
  margin: 0;  
}



.notion-page__properties .notion-property .notion-semantic-string {
  display: inline-flex;
}

/* Page Properties */
 /*Adds Page Properties Bottom-Border */
.notion-page__title .notion-semantic-string {
  border-bottom: 1px solid rgb(var(--color-yellow));
}

 /*Adds Page Properties Bottom-Border :hover */
.notion-page__title .notion-semantic-string:hover {
  border-bottom: 1px solid var(--color-border-yellow);
  font-weight: normal;
}
/* END Page Properties Bottom-Border */

.notion-page__title {
    align-content: baseline;
    align-items: baseline;
    align-self: baseline;
}
/* MEDIA QUERIES */





.notion-numbered-list {
    margin: 0;
    padding-inline-start: calc(1em - 8px);
}

.notion-collection-card {
    width: 100%;
    height: 100%;
    transition: background 120ms ease-in 0s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: var(--color-card-bg);
    padding: var(--collection-card-padding);
    border-radius: var(--collection-card-border-radii);
    box-shadow: var(--collection-card-shadow);
}

/* ? */
.notion-header.collection .notion-header__title-wrapper {
  display: block !important;
}

/* Relation Property Icons */
/* Default: *block* */
div.notion-property.notion-property__relation .notion-link.notion-page div.notion-page__icon {
    display: block !important;
    height: 32px !important;
    width: 32px !important;
}

/* Fits Collection Card to Content*/
.notion-collection-card.gallery {
    min-height: min-content;
    height: 100% !important;
    max-height: 100% !important;
    min-width: min-content;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: var(--element-radius);
    border: var(--border-default);
    grid-auto-columns: auto;
}


div.notion-collection-gallery.grouped.large .notion-collection-card.gallery,
div.notion-collection-gallery.grouped.medium .notion-collection-card.gallery,
div.notion-collection-gallery.grouped.small .notion-collection-card.gallery {
    width: 100%;
    max-width: 100%;
}

.notion-collection-gallery.large,
.notion-collection-gallery.grouped.large {
  grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-large), 1fr));
}

.notion-collection-gallery.medium,
.notion-collection-gallery.grouped.medium {
  grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-medium), 1fr));
}
.notion-collection-gallery.small,
.notion-collection-gallery.grouped.small {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-small), 1fr));
}

/* ENLARGE IMAGES ON COLLECTION CARDS */
div.notion-property.notion-property__file a.notion-link div,
div.notion-property.notion-property__file a.notion-link div span,
div.notion-property.notion-property__file a.notion-link div picture {
    position: relative !important;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

/*div.notion-property__file a.notion-link div picture img, */
/*div.notion-property__file a.notion-link div span img {*/
/*    position: relative !important;*/
/*    min-width: 25% !important;*/
/*    width: 35.7% !important;*/
/*    max-width: 50% !important;*/
/*    min-height: 25% !important;*/
/*    height: 35.7% !important;*/
/*    max-height: 50% !important;*/
/*    margin: 1% 0 0 1% !important;*/
/*}*/

div.notion-property__file a.notion-link div picture img, div.notion-property__file a.notion-link div span img {
    position: relative !important;
    min-width: 25% !important;
    width: 35.7% !important;
    max-width: 50% !important;
    min-height: 25% !important;
    height: 35.7% !important;
    max-height: 50% !important;
    margin: 0;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

/* END ENLARGE IMAGES ON COLLECTION CARDS */



/* HEADER */
/* Header Turned: *ON* */
/* By Default */
div.notion-header.page {
    display: block;
    min-height: 25vh;
    height: 75vh;
    max-height: 100vh;
    /*background-color: transparent;*/
/*    z-index: -10;*/
background-color: var(--site-primary);
}
/* Header Turned: *OFF* */
/* UNDER ALL ? */ /*
.parent-page__index div.notion-header.page {
  display: none !important;
} */


/* HEADER TITLE */
/* Header Title Turned: *ON* */
/* By Default */
.notion-header__title-wrapper {
  margin-top: -2rem !important;
}
/* Page Height with *.no-cover* */
.notion-header__content.no-cover.has-icon-image .notion-header__title-wrapper {
  margin-top: 192px !important;
}


/* HEADER COVER IMAGE  */
/* Header Cover Images Turned: *ON*  */
/* Defaults: */
/* position: *FIXED* */
/* object-fit: *COVER* */
/* object-position: *CENTER* */
img.notion-header__cover-image {
    position: var(--parralax-effect) !important;
    object-fit: cover !important;
    object-position: center !important;
}
/* Cover Image: *Contain* */
/* For the Following Places */
/* Elected Officials, */
.parent-page__elected-officials img.notion-header__cover-image {
    object-fit: contain !important;
}
/* IF NO COVER IMAGE */
/* Reduce Page Height: *-15%* */
/* THIS WAS REALLY HARD TO FIGURE OUT!!! */
.notion-header.page:has(.no-cover) ~ .super-content {
    margin-top: -25% !important;
}

/* HEADER ICON */
/* Header Icons Turned: *OFF*  */
/* By Default */
img.notion-header__icon {
  display: none !important;
  height: 64px !important;
  width: 64px !important;
}
/* IF NO COVER IMAGE */
/* Remove Header Icon */
.notion-header__icon-wrapper.no-cover.has-icon-image img.notion-header__icon {
    display: none !important;
}

/* Header Icons turned: *ON* */
/* UNDER ALL INDEX PAGES */
/* UNDER ALL CATEGORIES */
/**/
/**/
.page__index .notion-header__icon,
.parent-page__index .notion-header__icon,
.parent-page__categories .notion-header__icon {
  display: block !important;
}
/* END HEADER ICONS */

/* HEADINGS */
h1.notion-heading,
h2.notion-heading, 
h3.notion-heading, 
h1.notion-heading.toggle, 
h2.notion-heading.toggle, 
h3.notion-heading.toggle {
    text-align: center !important;
    min-width: 100% !important;
    width: 100% !important;
    line-height: 1;
    word-break: keep-all;
    font-size: var(--font-title-fluid) ;
}
h1.notion-heading .resource .notion-page__title .notion-semantic-string,
h1.notion-heading .notion-semantic-string .resource div.notion-page__title .notion-semantic-string span {
    font-size: var(--heading1-size) !important;
    font-weight: var(--h1-weight) !important;
}
h2.notion-heading .resource .notion-page__title .notion-semantic-string,
h2.notion-heading .notion-semantic-string .resource div.notion-page__title .notion-semantic-string span {
    font-size: var(--heading2-size) !important;
    font-weight: var(--h2-weight) !important;
}
h3.notion-heading .resource .notion-page__title .notion-semantic-string,
h3.notion-heading .notion-semantic-string .resource div.notion-page__title .notion-semantic-string span {
    font-size: var(--heading3-size) !important;
    font-weight: var(--h3-weight) !important;
}

.bg-yellow {
  background-color: var(--color-bg-yellow-light);
}
/* END HEADINGS */

/* DEMOS */
/* DEMO: CALLOUTS OF A CERTAIN SIZE*/
div#block-237b9a4d4a4c40e3982ab88abe797a64 .notion-callout,
div#block-fad8cd2cf13d4097a3e7b6702abf1b03 .notion-callout {
  height: 100%;
}
/* DEMO: SUPER FOOTER PADDING */
#page-portfolio-demos-super-footer-padding .super-footer {
  padding: 10px;
/* DEMO - THANK YOU - Synced Block - List ICONS */
}
#block-d7f2de0fb44e46f6b5568491bc3699cd img.notion-icon {
  display: block;
}
/* DEMO: UNCLICKABLE GALLERY IMAGES */
/* Removes Clicking Cards */
#block-portfolio-demos-unclickable-gallery-images a.notion-link.notion-collection-card__anchor {
    pointer-events: none;
}
/* Retains Clicking Card Properties */
#block-portfolio-demos-unclickable-gallery-images .gallery .notion-collection-card__content {
  pointer-events: all;
}

/* !! END DEMOS !!*/

/* COLLECTION CARDS */
/* Collection Card COLUMN WIDTH */
/*.notion-collection-gallery.large, */
/*.notion-collection-gallery.grouped.large {*/
/*    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-large), 1fr)) !important;*/
/*}*/
/*.notion-collection-gallery.medium, */
/*.notion-collection-gallery.grouped.medium {*/
/*    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-medium), 1fr)) !important;*/
/*}*/
/*.notion-collection-gallery.small, */
/*.notion-collection-gallery.grouped.small {*/
/*    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-small), 1fr)) !important;*/
/*}*/
/* END COLLECTION GALLERY GRID LAYOUT  */
/* Collection Card Cover Height */
.notion-collection-card__cover.large {
    min-height: var(--collection-card-cover-size-smaller) !important;
    height: var(--collection-card-cover-size-small) !important;
    max-height: var(--collection-card-cover-size-medium) !important;
}
.notion-collection-card__cover.medium {
    min-height: var(--collection-card-cover-size-tiny) !important;
    height: var(--collection-card-cover-size-smaller) !important;
    max-height: var(--collection-card-cover-size-small) !important;
}
.notion-collection-card__cover.small {
    min-height: var(--collection-card-cover-size-tiny) !important;
    height: var(--collection-card-cover-size-smaller) !important;
    max-height: 100% !important;
}
/* END Collection Card Cover */
/* END COLLECTION CARDS END */
.gallery .notion-collection-card__content {
  display: grid;
  justify-content: stretch;
}

.notion-collection-card__content .notion-collection-card__property {
  display: flex;
}

.notion-collection-card__content .notion-property__title .notion-page__icon:has(~ .notion-page__title) {
    display: none;
}


.notion-collection-card:hover {
    background: var(--color-ui-hover-bg-light);
    transform: scale(1.05);
}

.notion-collection-card img {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.notion-collection-card:hover img {
    transform: scale(1.15);
}

/*.notion-collection-card__cover {*/
/*  border-radius: var(--element-radius);*/
/*  min-height: 100%;*/
/*  height: 100%;*/
/*  max-height: 100%;*/
/*  position: relative;*/
/*}*/

.notion-collection-card__cover img {
    object-fit: cover;
    object-position: center center ;
}

/*.notion-card-gallery {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

/* COLLECTION GALLERY  */
/*.notion-collection-card.gallery {*/
/*  min-height: 100%;*/
/*  height: 100%;*/
/*  max-height: 100%;*/
/*  border-radius: var(--element-radius);*/
/*}*/

.notion-collection-card__cover.large {
  min-height: var(--collection-card-cover-size-medium) !important;
  height: 0;
  max-height: var(--collection-card-cover-size-medium) !important;
}

.notion-collection-card__cover.medium {
  min-height: var(--collection-card-cover-size-small) !important;
  height: 0;
  max-height: var(--collection-card-cover-size-small) !important;
}

.notion-collection-card__cover.small {
  min-height: var(--collection-card-cover-size-tiny);
  height: 0;
  max-height: var(--collection-card-cover-size-tiny);
}

.notion-collection-card__content {
  padding: 0;
  display: block;
}

.notion-collection-card__property {
  display: inline-grid;
}
/*END COLECTION CARDS */


/* COLLECTION BOARDS */
.notion-collection-board, .notion-collection-board.small, .notion-collection-board.medium, .notion-collection-board.large {
  background-color: var(--color-bg-default);
}
/* END COLLECTION BOARDS */


/* COLLECTION LISTS */
.notion-collection-list {
    border: none;
    border-radius: var(--element-radius);
    background-color: var(--color-card-bg);
    margin: var(--collection-margin);
    padding: var(--collection-padding);
}

.notion-collection-list__item {
  background-color: var(--color-card-bg);
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: 2px solid var(--color-bg-yellow-light);
}

.notion-collection-list__item .notion-property__title .notion-icon {
  display: none;
}
/* END COLLECTION LISTS */


/* COLLECTION CALENDARS */
.notion-collection-card.calendar {
  background-color: var(--color-bg-yellow-light);
}

.notion-collection-card.calendar .notion-property__title {
  background-color: var(--color-bg-yellow);
  border-radius: var(--element-radius);
}
/* END COLLECTION CALENDAR */

.notion-page__icon {
  font-size: 1.25rem;
}

/* CREDLY BADGE */
div#block-5df357da07bf4d268800212ce07fdd7b.notion-callout .notion-callout__content {
    justify-content: center;
    display: flex !important;
    background-color: var(--color-text-white);
}

.notion-collection-gallery {
  display: grid !important;
}

/* THIS IS FROM HOME PAGE CODE */
.notion-collection-gallery.large, 
.notion-collection-gallery.grouped.large {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-medium), 1fr)) !important;
}

.notion-collection-gallery.medium, 
.notion-collection-gallery.grouped.medium {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-small), 1fr)) !important;
}

.notion-collection-gallery.small, 
.notion-collection-gallery.grouped.small {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-smaller), 1fr)) !important;
}
/* END HOME PAGE CODE */