:root {
    --site-accent: 175, 175, 30 !important;
    --site-accent-bg: 175, 175, 30 !important;
    --site-bg: 37, 37, 37 !important;
    --site-hover: 73, 73, 73 !important;
    --site-primary: 51, 51, 51 !important;
    --collection-padding: .25rem !important;
    --collection-margin: 0 .5rem 0 .25rem !important;
    --color-card-bg: rgb(37, 37, 37) !important;
    --collection-card-cover-size-small: 8rem !important;
    --collection-card-cover-size-medium: 12rem !important;
    --collection-card-cover-size-large: 18rem !important;
    --collection-card-cover-height-small: 8rem !important;
    --collection-card-cover-height-medium: 12rem !important;
    --collection-card-cover-height-large: 18rem !important;
    --color-red: 153, 0, 0 !important;
    --color-green: 0, 102, 0 !important;
    --color-pill-red: 100, 0, 0 !important;
    --color-code-bg: #000000;
    --theme-width: 1800px !important;
    --element-radius: 8px !important;
    --navbar-button-background-color: rgb(232, 232, 0) !important;
    --collection-card-border-radii: 8px !important;
    --collection-card-shadow: 0 0 4px 0 rgb(var(--site-hover)) !important;
/* Database View Picker */
    /* Border radius */
    --picker-border-radius: var(--element-radius) !important;
    /* Active colors */
    --picker-active-bg-color: var(--color-bg-black-light) !important;
    --picker-active-text-color: var(--color-default-text) !important;
    /* Default colors */
    --picker-border-color: transparent !important;
    --picker-text-color: var(--color-default-text) !important;
    /* Hover colors */
    --picker-hover-bg-color: var(--color-bg-yellow-light) !important;
    --picker-hover-text-color: var(--color-default-text) !important;
    --picker-hover-border-color: var(--color-text-yellow) !important;
/* Database View Picker */
}



.super-navbar {
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    background-color: var(--color-default-light);
}



/* NOTION HEADER HEIGHT */
.parent-page__states-florida div.notion-header.page,
div.notion-header.page {
    display: block;
    min-height: 5vh;
    height: 35vh;
    max-height: 100vh;
    background-color: transparent;
    z-index: -10;
}
/* END NOTION HEADER HEIGHT */

/* DEMO: CALLOUTS OF A CERTAIN SIZE*/

div#block-237b9a4d4a4c40e3982ab88abe797a64 .notion-callout {
    height: 100%;
}

div#block-fad8cd2cf13d4097a3e7b6702abf1b03 .notion-callout {
    height: 100%
}

/* REMOVES NOTION COVER IMAGE */
Removes Notion Cover Image 
div.notion-header.page {
    display: none !important;
}
/* END REMOVE NOTION COVER IMAGE  */

#page-about .notion-collection-gallery.large,
.notion-collection-gallery.large {
    display: grid !important;
}

#block-resources-elections-election-tracker-2022-the-117th-house .notion-collection-gallery {
    display: grid !important;
}

#page-2022- .notion-header.page {
    display: none !important;
}

.parent-page__2022-fl .notion-header.page {
    display: block;
}

.notion-page__icon {
    font-size: 1.25rem !important;
}

.notion-page__icon.small,
.notion-page__icon.medium,
.notion-page__icon.large {
    display: none !important;
}

.parent-page__2022-the-117th-house .notion-header.page {
    display: none;
}

.notion-page>div {
    display: inline-flex !important;
}

.notion-semantic-string .resource .notion-page>div {
    display: inline-flex !important;
}

.notion-page__properties .notion-property {
    align-items: baseline !important;
}

.notion-page__properties .notion-property img {
    min-height: var(--collection-card-cover-size-medium) !important;
    height: 100% !important;
    max-height: var(--collection-card-cover-size-large) !important;
}

img.notion-header__cover-image {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.notion-header__content .notion-header__title-wrapper {
    margin-top: 0 !important;
}

.notion-header__content:has(.no-cover) {
    display: none !important;
}

.notion-pill.first,
span.notion-pill.pill-default,
span.notion-pill.pill-default.first {
    margin: 0.125rem 0.25rem !important;
    padding: 0.125rem 0.5rem !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
}

.notion-collection-card__content .notion-collection-card__property {
    display: flex !important;
}

.notion-page__properties .notion-property {
    align-items: baseline !important;
}

.notion-page__properties .notion-property img {
    min-height: 12rem !important;
    height: 100% !important;
    max-height: 24rem !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-property__title .notion-semantic-string {
    font-size: 24px !important;
    font-weight: normal !important;
}

.notion-page>div,
.resource .notion-page__title .notion-semantic-string {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 16px !important;
    white-space: break-spaces !important;
    display: flex !important;
    align-items: center !important;
    align-self: center !important;
    text-align: center !important;
    /*  font-weight: 500 !important;*/
}

div.notion-property.notion-property__file.property-undefined>a>div {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100%;
}

.notion-page__property-name>span {
    font-size: 12px;
    line-height: 1.5;
    overflow: visible;
    white-space: break-spaces;
    align-self: center;
}

.notion-property__relation span.resource {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    border: 1px solid var(--color-bg-yellow-light);
    border-radius: var(--collection-card-border-radii);
    margin: .25rem;
    padding: .25rem;
    font-size: 4px;
}

.notion-page__property-name {
    border: 1px solid var(--color-bg-yellow-light);
    border-radius: .350rem;
    margin: 2px 0;
    padding: 0 4px;
}

div.notion-property__url {
    font-size: 16px;
    font-weight: 100;
    padding: 0;
    white-space: nowrap;
}

.notion-toggle__trigger {
    align-items: baseline;
}

.notion-collection-group__section.open:not(.board) {
    margin: 8px 0;
}

.notion-collection-group__section-header:not(.no-border) {
    border-top: 1px dashed var(--color-bg-yellow-light);
    padding: 8px 4px;
}

.notion-collection-list {
    border: none !important;
    border-radius: var(--element-radius) !important;
    background-color: var(--color-card-bg) !important;
    margin: var(--collection-margin) !important;
    padding: var(--collection-padding) !important;
}

.notion-collection-list__item {
    background-color: var(--color-card-bg) !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
    border-bottom: 1px solid var(--color-bg-yellow-light) !important;
    font-size: 18px;
    font-weight: normal;
}

.notion-collection-list__item .notion-property__title .notion-icon {
    display: none !important;
}

.notion-collection-card {
    width: 100%;
    height: 100%;
    transition: background 120ms ease-in 0s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: var(--color-card-bg);
    padding: var(--collection-card-padding);
    border-radius: var(--collection-card-border-radii);
    box-shadow: var(--collection-card-shadow);
}

.notion-collection-card.gallery {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: var(--collection-card-border-radii);
    box-shadow: var(--collection-card-shadow);
}

.notion-collection-card.large {
    min-height: var(collection-card-cover-size-small) !important;
    max-height: var(collection-card-cover-size-large) !important;
}

.notion-collection-card.medium {
    min-height: 6rem !important;
    max-height: var(collection-card-cover-size-medium) !important;
}

.notion-collection-card.small {
    min-height: 4rem !important;
    max-height: var(collection-card-cover-size-small) !important;
}

#page-services .notion-collection-card__cover.large img,
#page-services .notion-collection-card__cover.medium img,
#page-services .notion-collection-card__cover.small img {
    object-fit: cover !important;
    object-position: center 50% !important;
    border-radius: 32px !important;
}

#page-about .notion-collection-card__cover.large img,
#page-about .notion-collection-card__cover.medium img,
#page-about .notion-collection-card__cover.small img {
    object-fit: contain !important;
    object-position: center 50% !important;
    border-radius: 32px !important;
}

#page-portfolio .notion-collection-card__cover.large img,
#page-portfolio .notion-collection-card__cover.medium img,
#page-portfolio .notion-collection-card__cover.small img {
    object-fit: cover !important;
    object-position: center 50% !important;
    border-radius: 32px !important;
}

#page-blog .notion-collection-card__cover.large img,
#page-blog .notion-collection-card__cover.medium img,
#page-blog .notion-collection-card__cover.small img {
    object-fit: cover !important;
    object-position: center 50% !important;
    border-radius: 32px !important;
}

#page-blog .notion-collection-card__cover.large {
    min-height: var(--collection-card-cover-size-large) !important;
    height: 100% !important;
    max-height: var(--collection-card-cover-size-large) !important;
}

#page-blog .notion-collection-card__cover.medium {
    min-height: 12rem !important;
    height: 100% !important;
    max-height: 12rem !important;
}

#page-blog .notion-collection-card__cover.small {
    min-height: 8rem !important;
    height: 100% !important;
    max-height: 8rem !important;
}

.notion-colletion-card__content {
    padding: 0 !important;
    display: block !important;
}

.notion-collection-card__property {
    display: inline-grid !important;
}

.notion-page__properties .notion-property .notion-semantic-string {
    display: inline-flex;
}

.gallery .notion-collection-card__content {
    display: grid !important;
    /*  justify-content: stretch !important; */
}

.notion-collection-gallery.large {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-large), 1fr)) !important;
}

.notion-collection-gallery.medium {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-medium), 1fr)) !important;
}

.notion-collection-gallery.small {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-small), 1fr)) !important;
}

.notion-collection-board,
.notion-collection-board.small,
.notion-collection-board.medium,
.notion-collection-board.large {
    background-color: var(--color-bg-default);
}

Adds Page Properties Bottom-Border .notion-page__title .notion-semantic-string {
    border-bottom: 1px solid rgb(var(--color-bg-yellow-light)) !important;
}

Adds Page Properties Bottom-Border :hover .notion-page__title .notion-semantic-string:hover {
    border-bottom: 1px solid var(--color-border-yellow) !important;
}

END Page Properties Bottom-Border MEDIA QUERIES 
{@media all and (max-width:764px) {
    .notion-root>.notion-column-list>.notion-column:nth-child(3) {
        display: none !important;
    }
}
@media all and (max-width:512px) {
    .notion-navbar {
        justify-content: space-between !important;
        height: 60px !important;
    }
    #nav-toggle {
        display: block !important;
        height: 30px !important;
    }
    .notion-root>.notion-column-list>.notion-column:nth-child(1) {
        position: fixed !important;
        z-index: 300 !important;
        display: inline !important;
        opacity: 0 !important;
        height: 100vh !important;
        top: 60px!important;
    }
    .notion-root>.notion-column-list>.notion-column:nth-child(1).show-nav {
        opacity: 1 !important;
        display: block !important;
    }
    .notion-root>.notion-column-list>.notion-column:nth-child(2) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        padding: 0 20px !important;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
        z-index: 0 !important;
    }
    .notion-column-list {
        flex-direction: column !important;
    }
    .notion-navbar__search {
        margin-right: 40px !important;
        right: 10px !important;
    }
}
}
.notion-search__clear svg {
    display: none!important;
}

.notion-search__clear:before {
    content: 'clear'!important;
    text-transform: uppercase!important;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 5px!important;
    color: #878683!important;
}

-------------- #page-about img.notion-header__cover-image,
#page-services img.notion-header__cover-image,
#page-portfolio img.notion-header__cover-image,
#page-blog img.notion-header__cover-image,
#page-contact img.notion-header__cover-image,
#page-resources img.notion-header__cover-image,
#page-activism img.notion-header__cover-image,
#page-media img.notion-header__cover-image,
#page-elections img.notion-header__cover-image,
#page-tech img.notion-header__cover-image,
#page-activists img.notion-header__cover-image,
#page-causes img.notion-header__cover-image,
#page-organizations img.notion-header__cover-image,
#page-issues img.notion-header__cover-image,
#page-candidates img.notion-header__cover-image,
#page-research img.notion-header__cover-image,
#page-products img.notion-header__cover-image,
#page-reviews img.notion-header__cover-image,
#page-web-development img.notion-header__cover-image,
#page-themes img.notion-header__cover-image,
#page-css img.notion-header__cover-image,
#page-demos img.notion-header__cover-image,
#page-podcasts img.notion-header__cover-image,
#page-vlogs img.notion-header__cover-image,
#page-blogs img.notion-header__cover-image,
#page-journalists img.notion-header__cover-image {
    object-fit: cover !important;
}

.notion-header.collection .notion-header__icon {
    display: none !important;
}

.notion-header.collection .notion-header__title-wrapper {
    display: grid !important;
}

img.notion-header__icon {
    display: block !important;
}


/*Demos - THANK YOU - Synced Block - List ICONS */

#block-d7f2de0fb44e46f6b5568491bc3699cd img.notion-icon {
    display: block !important;
}

div.notion-property__file a.notion-link div {
    position: relative !important;
    width: auto !important;
    height: var(--collection-card-cover-size-small) !important;
}

div.notion-property__file a.notion-link div picture img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    max-height: var(--collection-card-cover-size-small) !important;
}

div.notion-property__file a.notion-link div span {
    position: relative !important;
}

div.notion-property__file a.notion-link div span img {
    position: relative !important;
    width: auto !important;
    height: auto !important;
    max-height: var(--collection-card-cover-size-small) !important;
}


/* BEGIN JUSTIN RUSSELL SYNCED DEMO INTRO */

#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-column-list,
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-column,
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection,
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection-card.gallery,
#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-gallery.small {
    align-items: center !important;
    justify-content: center !important;
}

div#block-05e612143b5b4296b45cf6c6ec808f9a .notion-collection-gallery {
    object-fit: contain !important;
}

div#block-05e612143b5b4296b45cf6c6ec808f9a .notion-collection-card__cover img {
    object-fit: contain !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b .gallery.notion-collection-card .notion-property__title {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-card__cover {
    padding: 0 !important;
    margin: 0 !important;
    grid-gap: 8px !important;
    min-height: 4rem !important;
    height: auto !important;
    max-height: 8rem !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-card__cover img {
    object-fit: contain !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-property__title .notion-semantic-string {
    font-size: 16px !important;
    font-weight: normal !important;
}


/* END JUSTIN RUSSELL SYNCED DEMO INTRO */


/* START EXTEND HERO IMAGE */

div.notion-header.page {
    display: block;
    min-height: 35vh !important;
    height: 75vh !important;
    max-height: 100vh !important;
    background-color: transparent;
    z-index: -10;
}


/*   END EXTEND HERO IMAGE */


/* START TAG CLOUD */

.notion-page__properties .notion-property .notion-semantic-string {
    display: contents !important;
    width: auto;
    white-space: nowrap;
}


/* END   TAG CLOUD */


/* START NOTION HEADER COVER NO COVER */

div.notion-header.page:has(.notion-header__cover.no-cover) {
    min-height: 0 !important;
    height: 0;
    max-height: 0 !important;
    margin: 4.5rem 0;
}


/* END   NOTION HEADER COVER NO COVER */


/* START SMALLER HERO IMAGE FOR DATABASES */

.parent-page__activism img.notion-header__cover-image,
.parent-page__media img.notion-header__cover-image,
.parent-page__elections img.notion-header__cover-image,
.parent-page__technology img.notion-header__cover-image,
.parent-page__issues img.notion-header__cover-image,
.parent-page__products img.notion-header__cover-image {
    object-fit: cover !important;
    object-position: center 25% !important;
}


/* END   SMALLER HERO IMAGE FOR DATABASES */


/* START NOTION HEADER */

.parent-page__activism .notion-header__icon-wrapper.has-icon,
.parent-page__media .notion-header__icon-wrapper.has-icon,
.parent-page__elections .notion-header__icon-wrapper.has-icon,
.parent-page__technology .notion-header__icon-wrapper.has-icon,
.parent-page__issues .notion-header__icon-wrapper.has-icon,
.parent-page__activism .notion-header__title,
.parent-page__media .notion-header__title,
.parent-page__elections .notion-header__title,
.parent-page__technology .notion-header__title,
.parent-page__issues .notion-header__title,
.parent-page__products .notion-header__title {
    text-align: left !important;
    display: inline-flex;
}

.parent-page__activism .notion-header__icon-wrapper,
.parent-page__media .notion-header__icon-wrapper,
.parent-page__elections .notion-header__icon-wrapper,
.parent-page__technology .notion-header__icon-wrapper,
.parent-page__issues .notion-header__icon-wrapper,
.parent-page__products .notion-header__icon-wrapper {
    display: none !important;
}

.parent-page__activism .notion-header__title,
.parent-page__media .notion-header__title,
.parent-page__elections .notion-header__title,
.parent-page__technology .notion-header__title,
.parent-page__issues .notion-header__title,
.parent-page__products .notion-header__title {
    background-color: var(--color-bg-yellow);
}

.parent-page__activism .notion-header,
.parent-page__media .notion-header,
.parent-page__elections .notion-header,
.parent-page__technology .notion-header,
.parent-page__issues .notion-header,
.parent-page__products .notion-header {
    margin-bottom: 2rem !important;
}

.parent-page__activism .notion-header__content,
.parent-page__media .notion-header__content,
.parent-page__elections .notion-header__content,
.parent-page__technology .notion-header__content,
.parent-page__issues .notion-header__content,
.parent-page__products .notion-header__content {
    display: inline-flex !important;
}


/* END   NOTION HEADER */

.parent-page__activism .notion-collection-card__cover,
.parent-page__media .notion-collection-card__cover,
.parent-page__elections .notion-collection-card__cover,
.parent-page__technology .notion-collection-card__cover,
.parent-page__issues .notion-collection-card__cover,
.parent-page__products .notion-collection-card__cover {
    object-fit: contain !important;
    object-position: top !important;
}


/* START MAKE */

#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection-card.gallery .notion-collection-card__cover {
    pointer-events: auto !important;
}

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string>span {
    white-space: pre-wrap !important;
    width: auto !important;
}

.notion-page__properties .notion-property .notion-semantic-string span {
    white-space: pre-wrap !important;
}

.notion-page__title .notion-semantic-string span {
    line-height: 1;
    /* width: 100% !important; */
    /* max-width: 100vw !important; */
    font-size: 12px;
}

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 70vh !important;
}

.page__documents-on-tyranny.parent-page__documents .notion-collection-card a.notion-collection-card__anchor {
    pointer-events: none;
}

#page-contact .notion-collection-card__cover.large img,
#page-contact .notion-collection-card__cover.medium img,
#page-contact .notion-collection-card__cover.small img {
    object-fit: contain !important;
    object-position: center 50% !important;
}

#page-contact .notion-collection-card__cover.small,
#page-contact .notion-collection-card__cover.medium,
#page-contact .notion-collection-card__cover.large {
    min-height: 2rem !important;
    height: 2rem !important;
    max-height: 2rem !important;
}

.notion-collection-card {
    height: 2rem !important;
}

/* PAGES */

/* ABOUT */
/* END ABOUT */

/* BLOG */
/* END BLOG*/

/* CONTACT */
/* END CONTACT */

/* RESOURCES */
/* END RESOURCES*/

/* SERVICES */
/* END SERVICES */

/* END PAGES */

/* CUSTOM CSS */

/* SUPER FOOTER PADDING */
#page-portfolio-demos-super-footer-padding .super-footer {
    padding: 10px;
}
/* END SUPER FOOTER */

/* END CUSTOM CSS */

#page-contact .notion-collection-card__cover.large img,
#page-contact .notion-collection-card__cover.medium img,
#page-contact .notion-collection-card__cover.small img {
  object-fit: contain !important;
  object-position: center 50% !important;
border: solid yellow !important;
}


#page-contact .notion-collection-gallery {
  border: dotted blue;
    padding: 0 4rem !important;
    margin: 0  !important;
    grid-gap: 8px !important;
    min-height: 4rem !important;
    height: auto !important;
    max-height: 8rem !important;
  
  
}
#page-contact .notion-collection-card.gallery { border: solid green;
  
}
#page-contact .notion-collection-card__cover.small,
#page-contact .notion-collection-card__cover.medium,
#page-contact .notion-collection-card__cover.large {
border: dashed red;

}

.notion-collection-card__cover {
    padding: 0 !important;
    margin: 0  !important;
    grid-gap: 8px !important;
    min-height: 4rem !important;
    height: auto !important;
    max-height: 4rem !important;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||*/
/* New Beginning */
:root {
  --site-accent: 175, 175, 30 !important;
  --site-accent-bg: 175, 175, 30 !important;
  --site-bg: 37, 37, 37 !important;
  --site-hover: 73, 73, 73 !important;
  --site-primary: 51, 51, 51 !important;
  /* Collection Card Sizes  */
  --collection-card-cover-size-small: 8rem !important;
  --collection-card-cover-size-medium: 12rem !important;
  --collection-card-cover-size-large: 18rem !important;
  --collection-card-cover-height-small: 8rem !important;
  --collection-card-cover-height-medium: 12rem !important;
  --collection-card-cover-height-large: 18rem !important;
    /* Colors */
  --color-card-bg: rgb(37, 37, 37) !important;
  --navbar-button-background-color: rgb(232, 232, 0) !important;
  /* Pills */
  --color-pill-default: rgba(var(--site-accent), 0.5) !important;
  --color-red: 153, 0, 0 !important;
  --color-green: 0, 102, 0 !important;
  --color-pill-red: 100, 0, 0 !important;
  --color-code-bg: #000000 !important;
  /* Sizes & Radius */
  --theme-width: 1800px !important;
  --element-radius: 8px !important;
  --collection-card-border-radii: 8px !important;
  /* Padding */
  --collection-padding: .25rem !important;
  --picker-padding: var(--collection-padding) !important;
  /* Margin*/
  --collection-margin: 0 .5rem 0 .25rem !important;
  --picker-margin: var(--collection-margin) !important;
  /* Shadows */
  --collection-card-shadow: 0 0 4px 0 rgb(var(--site-hover)) !important;
  
  /* Database View Picker */
	/* Border radius */
  --picker-border-radius: var(--element-radius) !important;
  /* Active colors */
  --picker-active-bg-color: var(--color-bg-yellow) !important;
  --picker-active-text-color: var(--color-text-default) !important;
  /* Default colors */
  --picker-border-color: var(--color-bg-yellow)  !important;
  --picker-text-color: var(--color-text-default) !important;
  /* Hover colors */
  --picker-hover-bg-color: var(--color-bg-yellow-light) !important;
  --picker-hover-text-color: var(--color-text-default) !important;
  --picker-hover-border-color: var(--color-text-yellow) !important;
  /* END Database View Picker */
}



/* SUPER FOOTER PADDING */
#page-portfolio-demos-super-footer-padding .super-footer {
  padding: 10px;
}

.parent-page__states-florida div.notion-header.page,
div.notion-header.page {
    display: block;
    min-height: 5vh;
    height: 35vh;
    max-height: 100vh;
    background-color: transparent;
    z-index: -10;
}

/* DEMO: CALLOUTS OF A CERTAIN SIEZE*/
div#block-237b9a4d4a4c40e3982ab88abe797a64 .notion-callout {
  height: 100%;
}

div#block-fad8cd2cf13d4097a3e7b6702abf1b03 .notion-callout {
  height: 100%
}

 Removes Notion Cover Image
div.notion-header.page {
  display: none !important;
}

#page-about .notion-collection-gallery.large, .notion-collection-gallery.large {
  display: grid !important;
}

#block-resources-elections-election-tracker-2022-the-117th-house .notion-collection-gallery {
  display: grid !important;
}

#page-2022- .notion-header.page {
  display: none !important;
}

.parent-page__2022-fl .notion-header.page {
  display: block;
}

.notion-page__icon {
  font-size: 1.25rem !important;
}

.notion-page__icon.small, .notion-page__icon.medium, .notion-page__icon.large {
    display: none !important;
}

.parent-page__2022-the-117th-house .notion-header.page {
  display: none;
}

.notion-page>div {
    display: inline-flex !important;
}

.notion-semantic-string .resource .notion-page>div {
    display: inline-flex !important;
}

.notion-page__properties .notion-property {
  align-items: baseline !important;
}

.notion-page__properties .notion-property img {
    min-height: var(--collection-card-cover-size-medium) !important;
    height: 100% !important;
    max-height: var(--collection-card-cover-size-large) !important;
}

img.notion-header__cover-image {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.notion-header__content .notion-header__title-wrapper {
    margin-top: 0 !important;
}

.notion-header__content:has(.no-cover) {
  display: none !important;
}

.notion-pill.first,
span.notion-pill.pill-default,
span.notion-pill.pill-default.first {
  margin: 0.125rem 0.25rem !important;
  padding: 0.125rem 0.5rem !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
}

.notion-collection-card__content .notion-collection-card__property {
  display: flex !important;
}

.notion-page__properties .notion-property {
  align-items: baseline !important;
}

.notion-page__properties .notion-property img {
  min-height: 12rem !important;
  height: 100% !important;
  max-height: 24rem !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-property__title .notion-semantic-string {
    font-size: 18px !important;
    font-weight: normal !important;
    justify-content: normal;
}

.notion-page>div,
.resource .notion-page__title .notion-semantic-string {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px !important;
  white-space: break-spaces !important;
  display: flex !important;
/*  font-weight: 500 !important;*/
}

div.notion-property.notion-property__file.property-undefined>a>div {
    height: 100% !important;
    max-height: 100%  !important;
    width: 100% !important;
    max-width: 100%;
}

.notion-page__property-name>span {
    font-size: 12px;
    line-height: 1.5;
    overflow: visible;
    white-space: break-spaces;
    align-self: center;
}

.notion-property__relation span.resource {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  border: 1px solid var(--color-bg-yellow-light);
  border-radius: var(--collection-card-border-radii);
  margin: .25rem;
  padding: .25rem;
  font-size: 4px;
}

.notion-page__property-name {
    border: 1px solid var(--color-bg-yellow-light);
    border-radius: .350rem;
    margin: 2px 0;
    padding: 0 4px;
}

div.notion-property__url {
  font-size: 16px;
  font-weight: 100;
  padding: 0px 0;
  white-space: nowrap;
}

.notion-toggle__trigger {
  align-items: baseline;
}

.notion-collection-group__section.open:not(.board){
  margin: 8px 0;
}

.notion-collection-group__section-header:not(.no-border) {
    border-top: 1px dashed var(--color-bg-yellow-light);
    padding: 8px 4px;
}

.notion-collection-list {
    border: none !important;
    border-radius: var(--element-radius) !important;
    background-color: var(--color-card-bg) !important;
    margin: var(--collection-margin) !important;
    padding: var(--collection-padding) !important;
}

.notion-collection-list__item {
  background-color: var(--color-card-bg) !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: 1px solid var(--color-bg-yellow-light) !important;
  font-size: 18px;
  font-weight: normal;
}

.notion-collection-list__item .notion-property__title .notion-icon {
  display: none !important;
}

.notion-collection__header-wrapper {
  margin: 0 !important;  
}

.notion-collection-card:hover {
    background: var(--color-ui-hover-bg-light) !important;
    transform: scale(1.05) !important;
}

.notion-collection-card img {
    transition: 0.3s ease-in-out !important;
}

.notion-collection-card__cover img {
    object-fit: contain;
    object-position: center;
}

.notion-collection-card:hover img {
    transform: scale(1.10) !important;
}

.notion-collection-card__property-list {
  display: inline-grid !important;
}

.notion-collection-card.calendar {
  background-color: var(--color-bg-yellow-light) !important;
}

.notion-collection-card.calendar .notion-property__title {
  background-color: var(--color-bg-yellow);
  border-radius: var(--element-radius);
}


.notion-collection-card.large {
  min-height:  var(--collection-card-cover-size-large);
  max-height: var(--collection-card-cover-size-large);
}

.notion-collection-card.medium {
  min-height: var(--collection-card-cover-size-medium);
  max-height: var(--collection-card-cover-size-medium);
}

.notion-collection-card.small {
  min-height: var(--collection-card-cover-size-small);
  max-height: var(collection-card-cover-size-small);
}

#page-services .notion-collection-card__cover.large img,
#page-services .notion-collection-card__cover.medium img,
#page-services .notion-collection-card__cover.small img {
  object-fit: cover !important;
  object-position: center 50% !important;
  border-radius: 32px !important;
}

#page-about .notion-collection-card__cover.large img,
#page-about .notion-collection-card__cover.medium img,
#page-about .notion-collection-card__cover.small img {
  object-fit: contain !important;
  object-position: center 50% !important;
  border-radius: 32px !important;
}

#page-portfolio .notion-collection-card__cover.large img,
#page-portfolio .notion-collection-card__cover.medium img,
#page-portfolio .notion-collection-card__cover.small img {
  object-fit: cover !important;
  object-position: center 50% !important;
  border-radius: 32px !important;
}

#page-blog .notion-collection-card__cover.large img,
#page-blog .notion-collection-card__cover.medium img,
#page-blog .notion-collection-card__cover.small img {
  object-fit: cover !important;
  object-position: center 50% !important;
  border-radius: 32px !important;
}



#page-blog .notion-collection-card__cover.large {
  min-height: var(--collection-card-cover-size-large) !important;
  height: 100% !important;
  max-height: var(--collection-card-cover-size-large) !important;
}

#page-blog .notion-collection-card__cover.medium {
  min-height: 12rem !important;
  height: 100% !important;
  max-height: 12rem !important;
}

#page-blog .notion-collection-card__cover.small {
  min-height: 8rem !important;
  height: 100% !important;
  max-height: 8rem !important;
}

.notion-colletion-card__content {
  padding: 0 !important;
  display: block !important;
}

.notion-collection-card__property {
  display: inline-grid !important;
}

.notion-page__properties .notion-property .notion-semantic-string {
  display: inline-flex;
}

.gallery .notion-collection-card__content {
  display: grid !important;
/*  justify-content: stretch !important; */
}

.notion-collection-gallery.large {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-large), 1fr)) !important;
}

.notion-collection-gallery.medium {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-medium), 1fr)) !important;
}

.notion-collection-gallery.small {
    grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-small), 1fr)) !important;
}

.notion-collection-board, .notion-collection-board.small, .notion-collection-board.medium, .notion-collection-board.large {
  background-color: var(--color-bg-default);
}

 Adds Page Properties Bottom-Border 
.notion-page__title .notion-semantic-string {
  border-bottom: 1px solid rgb(var(--color-bg-yellow-light)) !important;
}

 Adds Page Properties Bottom-Border :hover 
.notion-page__title .notion-semantic-string:hover {
  border-bottom: 1px solid var(--color-border-yellow) !important;
}
 END Page Properties Bottom-Border 



#page-about img.notion-header__cover-image,
#page-services img.notion-header__cover-image,
#page-portfolio img.notion-header__cover-image,
#page-blog img.notion-header__cover-image,
#page-contact img.notion-header__cover-image,
#page-resources img.notion-header__cover-image,
#page-activism img.notion-header__cover-image,
#page-media img.notion-header__cover-image,
#page-elections img.notion-header__cover-image,
#page-tech img.notion-header__cover-image,
#page-activists img.notion-header__cover-image,
#page-causes img.notion-header__cover-image,
#page-organizations img.notion-header__cover-image,
#page-issues img.notion-header__cover-image,
#page-candidates img.notion-header__cover-image,
#page-research img.notion-header__cover-image,
#page-products img.notion-header__cover-image,
#page-reviews img.notion-header__cover-image,
#page-web-development img.notion-header__cover-image,
#page-themes img.notion-header__cover-image,
#page-css img.notion-header__cover-image,
#page-demos img.notion-header__cover-image,
#page-podcasts img.notion-header__cover-image,
#page-vlogs img.notion-header__cover-image,
#page-blogs img.notion-header__cover-image,
#page-journalists img.notion-header__cover-image
{
  object-fit: cover !important;
}

.notion-header.collection .notion-header__icon {
  display: none !important;
}

.notion-header.collection .notion-header__title-wrapper {
  display: grid !important;
}

img.notion-header__icon {
  display: block !important;
}

/*Demos - THANK YOU - Synced Block - List ICONS */
#block-d7f2de0fb44e46f6b5568491bc3699cd img.notion-icon {
  display: block !important;
}


div.notion-property__file a.notion-link div {
    position: relative !important;
    width: auto !important;
    height: var(--collection-card-cover-size-small) !important;
}
div.notion-property__file a.notion-link div picture img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    max-height: var(--collection-card-cover-size-small) !important;
}

div.notion-property__file a.notion-link div span {
  position: relative !important;
}

div.notion-property__file a.notion-link div span img {
    position: relative !important;
    width: auto !important;
    height: auto !important;
    max-height: var(--collection-card-cover-size-small) !important;
}

/* BEGIN JUSTIN RUSSELL SYNCED DEMO INTRO */

#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-column-list, 
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-column,
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection,
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection-card.gallery,
#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-gallery.small {
     align-items: center !important;
     justify-content: center !important;
}


div#block-05e612143b5b4296b45cf6c6ec808f9a .notion-collection-gallery {
  object-fit: contain !important;
}

div#block-05e612143b5b4296b45cf6c6ec808f9a .notion-collection-card__cover img {
  object-fit: contain !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b
.gallery.notion-collection-card .notion-property__title {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-card__cover {
    padding: 0 !important;
    margin: 0  !important;
    grid-gap: 8px !important;
    min-height: 4rem !important;
    height: auto !important;
    max-height: 8rem !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-card__cover img {
    object-fit: contain !important;
}

div#block-487bd77d45034b3585a148a7ff54f57b .notion-property__title .notion-semantic-string {
    font-size: 16px !important;
    font-weight: normal !important;
}

/* END JUSTIN RUSSELL SYNCED DEMO INTRO */

/* START EXTEND HERO IMAGE */
div.notion-header.page {
    display: block;
    min-height: 35vh !important;
    height: 75vh !important;
    max-height: 100vh !important;
    background-color: transparent;
    z-index: -10;
}
/*   END EXTEND HERO IMAGE */

/* START TAG CLOUD */
.notion-page__properties .notion-property .notion-semantic-string {
    display: contents !important;
    width: auto;
    white-space: nowrap;
}
/* END   TAG CLOUD */

/* START NOTION HEADER COVER NO COVER */
div.notion-header.page:has(.notion-header__cover.no-cover) {
    min-height: 0 !important;
    height: 0;
    max-height: 0 !important;
    margin: 4.5rem 0;
}
/* END   NOTION HEADER COVER NO COVER */

/* START SMALLER HERO IMAGE FOR DATABASES */
  .parent-page__activism img.notion-header__cover-image,
  .parent-page__media img.notion-header__cover-image,
  .parent-page__elections img.notion-header__cover-image,
  .parent-page__technology img.notion-header__cover-image,
  .parent-page__issues img.notion-header__cover-image,
    .parent-page__products img.notion-header__cover-image {
    object-fit: cover !important;
    object-position: center 25% !important;
  }
/* END   SMALLER HERO IMAGE FOR DATABASES */

/* START NOTION HEADER */
.parent-page__activism .notion-header__icon-wrapper.has-icon,
.parent-page__media .notion-header__icon-wrapper.has-icon,
.parent-page__elections .notion-header__icon-wrapper.has-icon,
.parent-page__technology .notion-header__icon-wrapper.has-icon,
.parent-page__issues .notion-header__icon-wrapper.has-icon,
.parent-page__activism .notion-header__title,
.parent-page__media .notion-header__title,
.parent-page__elections .notion-header__title,
.parent-page__technology .notion-header__title,
.parent-page__issues .notion-header__title,
.parent-page__products .notion-header__title{
  text-align: left !important;
  display: inline-flex;
}

.parent-page__activism .notion-header__icon-wrapper,
.parent-page__media .notion-header__icon-wrapper,
.parent-page__elections .notion-header__icon-wrapper,
.parent-page__technology .notion-header__icon-wrapper,
.parent-page__issues .notion-header__icon-wrapper,
.parent-page__products .notion-header__icon-wrapper{
  display: none !important;
}

.parent-page__activism .notion-header__title,
.parent-page__media .notion-header__title,
.parent-page__elections .notion-header__title,
.parent-page__technology .notion-header__title,
.parent-page__issues .notion-header__title,
.parent-page__products .notion-header__title{
    background-color: var(--color-bg-yellow);
}
.parent-page__activism .notion-header,
.parent-page__media .notion-header,
.parent-page__elections .notion-header,
.parent-page__technology .notion-header,
.parent-page__issues .notion-header,
.parent-page__products .notion-header{
  margin-bottom: 2rem !important;
}

.parent-page__activism .notion-header__content,
.parent-page__media .notion-header__content,
.parent-page__elections .notion-header__content,
.parent-page__technology .notion-header__content,
.parent-page__issues .notion-header__content,
.parent-page__products .notion-header__content{
  display: inline-flex !important;
}
/* END   NOTION HEADER */


.parent-page__activism .notion-collection-card__cover,
.parent-page__media .notion-collection-card__cover,
.parent-page__elections .notion-collection-card__cover,
.parent-page__technology .notion-collection-card__cover,
.parent-page__issues .notion-collection-card__cover,
.parent-page__products .notion-collection-card__cover{
  object-fit: contain !important;
  object-position: top !important;
}

/* START MAKE */
#block-d7f2de0fb44e46f6b5568491bc3699cd .notion-collection-card.gallery .notion-collection-card__cover{
    pointer-events: auto !important;
}

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string>span {
      white-space: pre-wrap !important;
      width: auto !important;
}

.notion-page__properties .notion-property .notion-semantic-string span {
    white-space: pre-wrap !important;
}

.notion-page__title .notion-semantic-string span {
    line-height: 1;
    /* width: 100% !important; */
    /* max-width: 100vw !important; */
    font-size: 12px;
}

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 70vh !important;
}

.page__documents-on-tyranny.parent-page__documents .notion-collection-card a.notion-collection-card__anchor {
  pointer-events: none;
}

.notion-collection-card__cover.large {
    min-height: 12rem;
    height: 100%;
    max-height: 12rem;
}

.notion-collection-card__cover.medium {
    min-height: 8rem;
    height: 100%;
    max-height: 8rem;
}

.notion-collection-card__cover.small {
    min-height: 4rem;
    height: 100%;
    max-height: 4rem;
}

.pill-default {
  background: var(--color-bg-yellow-light);
}

span.notion-pill.pill-default.first,
span.notion-pill.pill-default, 
span.notion-pill.notion-pill, 
.pill-default.first,
.notion-pill.first,
.pill-default,
.first,
.notion-collection-card__content .notion-property__select .notion-pill {
    max-width: min-content;
    margin: .25rem !important;
    padding: .5rem !important;
    border: 1px solid var(--color-bg-yellow-);
    display: flex;
    align-items: center;
    align-self: center ;
    align-content: center;
    width: 100%;
    min-height: 1rem;
    height: 1.5rem;
    max-height: 2rem;
    color: var(--color-text-white);
    border-radius: 8px !important;
    white-space: pre !important;
    overflow: visible !important;
    justify-content: center !important;
}

.notion-collection-card__content .notion-property__select {
    width: 100%;
    height: 100% ;
    display: inline-grid;
    overflow: visible;
    text-overflow: ellipsis;
    padding:.5rem ;
    align-items: baseline !important;
    align-self: baseline !important;
    align-content: baseline !important;
    justify-content: left !important ;
}

/* THIS IS THE NEW BEGINNING!!! */

/* NAVBAR BLUR */
.super-navbar {
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
    background-color: var(--color-default-light);
}
/* END NAVBAR BLUR */

/* RESET for Notion Semantic Strings */
.notion-semantic-string {
    white-space: inherit;
}

/* END RESET */

/* Small Contact Blocks */
#block-c00e84f6d20b40fc8d55fadf605ac99a .notion-collection-gallery.no-border-top.small, 
#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-gallery.no-border-top.small {
    grid-gap: 8px !important;
    padding: 8px !important;
    border: solid transparent !important;
}

#block-c00e84f6d20b40fc8d55fadf605ac99a .notion-collection-gallery.no-border-top.small img, 
#block-487bd77d45034b3585a148a7ff54f57b .notion-collection-gallery.no-border-top.small img {
    overflow: visible;
    padding: 8px !important;
  
}
/* END Small Contact Blocks */

/* Notion Collection Card*/
.notion-collection-card {
    width: 100%;
    height: 100%;
    transition: background 120ms ease-in 0s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: var(--color-card-bg);
    padding: var(--collection-card-padding);
    border-radius: var(--collection-card-border-radii);
    box-shadow: var(--collection-card-shadow);
}

.notion-collection-card.gallery {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: var(--collection-card-border-radii);
  box-shadow: var(--collection-card-shadow);
  border: none !important;
}

/* END */

