:root {

    /* $Quick Colorsh */
    --site-accent: 175, 175, 30 !important;
    --site-accent-bg: 175, 175, 30 !important;
    --site-bg: 37, 37, 37 !important;
    --site-hover: 73, 73, 73 !important;
    --site-primary: 51, 51, 51 !important;
    /* ^Page Width */
    --theme-width: 1200px !important;
    --responsive-width: calc(100% - var(--column-spacing)) !important;
    --long-width: 800px !important;
    --mid-width: 400px !important;
    --short-width: 200px !important;
    /* $UI */
    /* ^ Site Border Radius [Rounding] */
    --element-radius: 10px !important;
    /* ^Site Font Size*/
    --body-font: 18px !important;
    /* ^Site Column Spacing*/
    --column-spacing: 2em !important;
    /* ^Site Shadow */
    --site-shadow: 0 0 0 var(--color-default) !important;
    /* ^Site Border */
    --default-border: 1px solid var(--accent-bg-light) !important;
    /* ^Site Header Level */
    --notion-header-page-title: 50vh !important;
    /* ^Site Hero Image Parralax Effect /fixed/ */
    --parralax-effect: fixed !important;
    /* $Colors */
    --color-white: 255, 255, 255 !important;
    --color-black: 0, 0, 0 !important;
    --color-gray: 73, 73, 73 !important;
    --color-brown: 67, 33, 0 !important;
    --color-orange: 153, 67, 10 !important;
    --color-yellow: 125, 125, 32 !important;
    --color-green: 0, 102, 0 !important;
    --color-blue: 10, 49, 97 !important;
    --color-purple: 108, 51, 153 !important;
    --color-pink: 153, 108, 153 !important;
    --color-red: 153, 0, 0 !important;
    /* $Global Colors */
    /* ^global background color */
    --color-bg: rgb(var(--site-bg)) !important;
    --color-bg-default: rgb(var(--site-bg)) !important;
    /* ^default theme color */
    --color-default: rgb(var(--site-primary)) !important;
    --color-default-light: rgba(var(--site-primary), 0.5) !important;
    --color-hover: rgb(var(--site-hover)) !important;
    --color-default-hover: rgb(var(--site-hover)) !important;
    /* ^default color for element :hover*/
    --color-ui-hover-bg: rgba(var(--site-hover), 0.25) !important;
    --color-ui-hover-bg-light: rgba(var(--site-hover), 0.125) !important;
    /* ^accent */
    --accent: rgb(var(--site-accent)) !important;
    --accent-light: rgba(var(--site-accent), 0.5) !important;
    /* ^accent color */
    --accent-bg: rgb(var(--site-accent-bg)) !important;
    --accent-bg-light: rgba(var(--site-accent-bg), 0.5) !important;
    /* ^default color for block backgrounds */
    --color-card-bg: rgb(var(--site-primary)) !important;
    /* ^default navbar color */
    --navbar-button-background-color: rgb(232, 232, 0) !important;
    /* ^default background color*/
    --color-code-bg: var(--color-bg-black) !important;
    /* $Text */
    --color-text-white: rgb(var(--color-white)) !important;
    --color-text-black: rgba(0, 0, 0, 1) !important;
    --color-text-gray: rgba(192, 192, 192, 1) !important;
    --color-text-brown: rgba(100, 75, 50, 1) !important;
    --color-text-orange: rgba(175, 50, 0, 1) !important;
    --color-text-yellow: rgba(232, 232, 0, 1) !important;
    --color-text-green: rgba(75, 175, 75, 1) !important;
    --color-text-blue: rgba(50, 125, 175, 1) !important;
    --color-text-purple: rgba(175, 50, 175, 1) !important;
    --color-text-pink: rgba(225, 150, 200, 1) !important;
    --color-text-red: rgba(225, 50, 50, 1) !important;
    /* ^global foreground text color */
    --color-text-default: rgb(var(--color-white)) !important;
    /* ^dimmer global foreground text color */
    --color-text-default-light: var(--color-text-gray) !important;
    /* ^default border color for elements */
    --color-border-default: rgb(var(--site-primary)) !important;
    /* $Background = More Opacity */
    --color-bg-gray: rgba(var(--color-gray), 1) !important;
    --color-bg-black: rgba(var(--color-black), 1) !important;
    --color-bg-brown: rgba(var(--color-brown), 1) !important;
    --color-bg-orange: rgba(var(--color-orange), 1) !important;
    --color-bg-yellow: rgba(var(--color-yellow), 1) !important;
    --color-bg-green: rgba(var(--color-green), 1) !important;
    --color-bg-blue: rgba(var(--color-blue), 1) !important;
    --color-bg-purple: rgba(var(--color-purple), 1) !important;
    --color-bg-pink: rgba(var(--color-pink), 1) !important;
    --color-bg-red: rgba(var(--color-red), 1) !important;
    /* $Background Light = More Transparency */
    --color-bg-gray-light: rgba(var(--color-gray), 0.5) !important;
    --color-bg-black-light: rgba(var(--color-black), 0.25) !important;
    --color-bg-brown-light: rgba(var(--color-brown), 0.5) !important;
    --color-bg-orange-light: rgba(var(--color-orange), 0.5) !important;
    --color-bg-yellow-light: rgba(var(--color-yellow), 0.5) !important;
    --color-bg-green-light: rgba(var(--color-green), 0.5) !important;
    --color-bg-blue-light: rgba(var(--color-blue), 0.5) !important;
    --color-bg-purple-light: rgba(var(--color-purple), 0.5) !important;
    --color-bg-pink-light: rgba(var(--color-pink), 0.5) !important;
    --color-bg-red-light: rgba(var(--color-red), 0.5) !important;
    /* $Border Colors */
    --color-border-dark: rgba(var(--color-black), 1) !important;
    --color-border-black: rgba(var(--color-black), 1) !important;
    --color-border-gray: var(--color-text-gray) !important;
    --color-border-brown: var(--color-text-brown) !important;
    --color-border-orange: var(--color-text-orange) !important;
    --color-border-yellow: var(--color-text-yellow) !important;
    --color-border-green: var(--color-text-green) !important;
    --color-border-blue: var(--color-text-blue) !important;
    --color-border-purple: var(--color-text-purple) !important;
    --color-border-pink: var(--color-text-pink) !important;
    --color-border-red: var(--color-text-red) !important;
    /* $Pill Colors */
    --color-pill-default: rgba(var(--site-accent), 0.5) !important;
    --color-pill-gray: rgba(var(--color-gray), 0.5) !important;
    --color-pill-brown: rgba(var(--color-brown), 0.5) !important;
    --color-pill-orange: rgba(var(--color-orange), 0.5) !important;
    --color-pill-yellow: rgba(var(--color-yellow), 0.75) !important;
    --color-pill-green: rgba(var(--color-green), 0.5) !important;
    --color-pill-blue: rgba(var(--color-blue), 0.5) !important;
    --color-pill-purple: rgba(var(--color-purple), 0.75) !important;
    --color-pill-pink: rgba(var(--color-pink), 0.75) !important;
    --color-pill-red: rgba(var(--color-red), 0.5) !important;
    /* $Super Content */
    --super-content-bg: var(--color-bg) !important;
    --super-footer-padding: 0 2rem !important;
    --super-content-padding: 0 !important;
    /* --super-content-padding-top: 0 !important; */
    /* --super-content-padding-bottom: 0 !important; */
    /* --super-content-margin: 0 !important; */
    /* --super-content-margin-top: -25vh !important; */
    --super-content-margin-top: 0 !important;
    /* --super-content-margin-bottom: 0 !important; */
    /* $Call to Actions */
    --cta-padding: 13px 14px !important;
    --cta-border-radius: 4px !important;
    --cta-border: none !important;
    --cta-shadow: none !important;
    /* $Callouts */
    --callout-padding: 0.25rem 0 0.25rem 0 !important;
    --callout-padding-top: 0.25rem !important;
    --callout-title-bg: var(--color-bg-default) !important;
    --callout-title-size: 2rem !important;
    --callout-border-width: 1px !important;
    --callout-border-style: solid !important;
    --callout-border-color: var(--color-border-default) !important;
    --callout-border-radius: var(--element-radius) !important;
    --callout-justify: center !important;
    --callout-icon-size: 20px !important;
    --callout-emoji-size: 18px !important;
    --callout-margin: 1rem 0 !important;
    --callout-margin-top: 0.25rem !important;
    --callout-content-margin: 0 0.5rem !important;
    /* $Collections */
    --collection-margin: 0.25rem 0 !important;
    --collection-padding: 0.5rem !important;
    --collection-property-text-size: 14px !important;
    --collection-list-item-border-radius: 0 !important;
    --collection-list-item-padding: 5px 0 5px 5px !important;
    --collection-title-text-size: 16px !important;
    --collection-gallery-gap: 30px !important;
    --collection-card-padding: 1px !important;
    --collection-card-border: 1px solid var(--color-border-default) !important;
    --collection-card-border-radius: 5px !important;
    /* $Collection Card Size */
    --collection-card-cover-size-static-small: 172px !important;
    --collection-card-cover-size-static-medium: 260px !important;
    --collection-card-cover-size-static-large: 320px !important;
    --collection-card-cover-size-small: 128px !important;
    --collection-card-cover-size-medium: 256px !important;
    --collection-card-cover-size-large: 512px !important;
    /* $Pills */
    --notion-pill-padding: 2px 5px !important;
    --notion-pill-border-radius: 0 !important;
    --notion-pill-text-size: 12px !important;
    --notion-pill-text-weight: 500 !important;
    --notion-pill-text-transform: uppercase !important;
    --notion-pill-letter-spacing: 1px !important;
    /* $Images */
    --image-border-radius: 10px !important;
    /* $Misc */
    --divider-margin: 15px 0 !important;
    --divider-opacity: 1 !important;
    /* $Typography */
    --text-spacing: 1px !important;
    --secondary-font: "Inter", sans-serif !important;
    --notion-text-margin: 0 0 0 0 !important;
    /* $h1 - Header 1 */
    --h1-text-color: rgb(255, 255, 255) !important;
    --h1-size: 2rem !important;
    --h1-weight: 800 !important;
    --h1-spacing: -0.04em !important;
    --h1-margin: 0 0.25rem !important;
    --h1-line-height: 1 !important;
    --h1-text-shadow: var(--site-shadow) !important;
    /* $h2 - Header 2 */
    --h2-text-color: rgb(255, 255, 255) !important;
    --h2-size: 1.75rem !important;
    --h2-weight: 700 !important;
    --h2-spacing: -0.03em !important;
    --h2-margin: 0 0.1875rem !important;
    --h2-line-height: 100% !important;
    --h2-text-shadow: var(--site-shadow) !important;
    /* $h3 - Header 3 */
    --h3-text-color: rgb(255, 255, 255) !important;
    --h3-size: 1.375rem !important;
    --h3-weight: 600 !important;
    --h3-spacing: -0.02em !important;
    --h3-margin: 0 0.125rem !important;
    --h3-line-height: 1.4 !important;
    --h3-text-shadow: var(--site-shadow) !important;
    /* $Toggles */
    --toggle-size: 32px !important;
    --toggle-color: var(--accent-bg) !important;
    --toggle-closed: var(--accent) !important;
    --toggle-open: rgba(var(--site-accent), 0.75) !important;
    /* $Header Hover */
    --header-hover: var(--color-text-gray) !important;
    /* $Links */
    --link-border-width: 0 0 0 0 !important;
    --link-border-style: none !important;
    --link-border-color: none !important;
    /* $Margin */
    --code-margin: 1rem 1rem !important;
    /* $Quotes */
    --quote-font-style: italic !important;
    --quote-font-size: 1.75em !important;
    --quote-font-weight: bold !important;
    --quote-font-family: "McLaren", cursive !important;
    --quote-border-width: 5px !important;
    --quote-border-style: solid !important;
    --quote-border-color: var(--color-border-default) !important;
    --quote-margin: 1rem auto !important;
    --quote-padding: 1em 1em 2em 2em !important;
    /* $Database View Picker */
	/* $Spacing */
    --picker-margin: var(--collection-margin) !important;
    --picker-padding: var(--collection-padding) !important;
    --picker-border-radius: var(--element-radius) !important;
    /* $Active colors */
    --picker-active-bg-color: var(--color-bg-yellow) !important;
    --picker-active-text-color: var(--color-text-default) !important;
    /* $Default colors */
    --picker-border-color: var(--color-bg-yellow)  !important;
    --picker-text-color: var(--color-text-default) !important;
    /* $Hover colors */
    --picker-hover-bg-color: var(--color-bg-yellow-light) !important;
    --picker-hover-text-color: var(--color-text-default) !important;
    --picker-hover-border-color: var(--color-text-yellow) !important;
    /* $END Database View Picker */
}


