/* Theme Variables */ 

:root {
    /* Layout */
    --column-spacing: 40px!important;
    --max-width: 1150px!important;
    /* Navbar CTA */
    --cta-padding: 14px 20px!important;
    --cta-border-radius: 10px!important;
    --cta-border: none!important;
    --cta-shadow: none!important;
    /* Callout */
    --callout-padding: 20px 40px 15px 20px!important;
    --callout-border: none!important;
    --callout-border-radius: 10px!important;
    --callout-shadow: 8.6px 6px 10px rgba(0, 0, 0, 0.07), 69px 48px 80px rgba(0, 0, 0, 0.14)!important;
    --callout-icon-size: 15px!important;
    --callout-emoji-size: 18px!important;
    /* Collections */
    --collection-list-item-border-radius: 5px!important;
    --collection-list-item-padding: 5px 0px 5px 5px!important;
    --collection-gallery-gap: 30px!important;
    --collection-title-text-size: 16px!important;
    --collection-property-text-size: 14px!important;
    --color-card-bg: #222330!important;
    --collection-card-border-radius: 5px!important;
    --collection-card-padding: 20px!important;
    --collection-card-border: none!important;
    --collection-card-cover-size-small: 172px!important;
    --collection-card-cover-size-medium: 260px!important;
    --collection-card-cover-size-large: 320px!important;
    /*Pill */
    --notion-pill-padding: 2px 5px!important;
    --notion-pill-border-radius: 0px!important;
    --notion-pill-text-size: 11px!important;
    --notion-pill-text-weight: 500!important;
    --notion-pill-text-transform: uppercase!important;
    --notion-pill-letter-spacing: 1px!important;
    /* Images */
    --image-border-radius: 5px!important;
    /* Misc */
    --divider-margin: 15px 0px!important;
    --divider-opacity: .8!important;
    /* Typography */
    --text-spacing: 0px!important;
    --secondary-font: 'Inter', sans-serif!important;
    --notion-text-margin: 0px 0px 0px 0px!important;
    /* h1 */
    --h1-size: 2.6rem!important;
    --h1-weight: 500!important;
    --h1-spacing: -2px!important;
    --h1-margin: 10px 0px 15px 0px!important;
    --h1-line-height: 1.1!important;
    /* h2 */
    --h2-size: 1.8rem!important;
    --h2-weight: 500!important;
    --h2-spacing: -.5px!important;
    --h2-margin: 10px 0px 10px 0px!important;
    --h2-line-height: 1.2!important;
    /* h3 */
    --h3-size: 1.4rem!important;
    --h3-weight: 500!important;
    --h3-spacing: -1px!important;
    --h3-margin: 5px 0px 5px 0px!important;
    --h3-line-height: 1.4!important;
    /* Link */
    --link-border-width: 0px 0px 0px 0px!important;
    --link-border-style: none!important;
    --link-border-color: none!important;
    /* Colors */
    --color-text-default: #ffffff!important;
    --color-border-default: #454b4e!important;
    --color-bg-default: #2A2B37!important;
    --color-ui-hover-bg: #222330!important;
    --color-ui-hover-bg-light: #2E303D!important;
    --color-bg-gray-light: #1b1b1b!important;
    --color-text-gray: rgba(255, 255, 255, .7)!important;
    --color-text-yellow: #f0bd66!important;
    --color-text-green: #5bd4c1!important;
    --color-text-blue: #28D4D8!important;
}

/* End Theme Variables */

/* Remove Notion Header (Page Title, Cover and Icon)*/
.notion-header {
    display: none!important;
}

/* End Remove Notion Header*/

/* From Supply */

.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px !important;
    margin: 80px 0 !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card.gallery {
    transition: var(--transition) !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    box-shadow: none !important;
    height: 480px !important;
}

.notion-collection-card.gallery:before {
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%) !important;
    pointer-events: none !important;
    position: absolute !important;
    content: "" !important;
    z-index: 1 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-collection-card:first-child {
    grid-column-start: span 2 !important;
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    max-height: none !important;
    min-height: none !important;
    height: 100% !important;
    border: none !important;
}

.notion-collection-card.gallery .notion-property__title {
    position: absolute !important;
    padding: 24px 30px !important;
    max-width: 400px !important;
    font-size: 20px !important;
    color: #fff !important;
    z-index: 2 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
    font-weight: 400 !important;
}

.notion-collection-card.gallery .notion-collection-card__content {
    border: 1px solid rgba(255,255,255,0.06) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(8px) !important;
    background: rgba(0,0,0,0.12) !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    position: absolute !important;
    font-weight: 500 !important;
    padding: 2px 0 0 !important;
    font-size: 18px !important;
    display: flex !important;
    height: 54px !important;
    color: #fff !important;
    width: 54px !important;
    right: 24px !important;
    z-index: 2 !important;
    top: 24px !important;
}

@media (max-width: 1000px) {

    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
        margin: 20px 0 !important;
        grid-gap: 20px !important;
    }

    .notion-collection-card:first-child {
        grid-column-start: auto !important;
    }

    .notion-collection-card {
        height: 300px !important;
    }

}

.notion-header__content,
.notion-collection__header {
    display: none !important;
}

/* End of From Supply*/

/* Turn a single line callout block into a button (Entire block is clickable) */
 .notion-callout { 
  position: relative!important;
}

/* */

.notion-header {
  display: none!important;
}

.notion-header__cover-image {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	box-sizing:border-box;
	padding:0;
	border:none;
	margin:auto;
	display:none;
	width:0;
	height:0;
	min-width:100%;
	max-width:100%;
	min-height:100%;
	max-height:100%;
	object-fit:cover;
	object-position:center 0%;
}


