/*.green-shadow() {
    .shadow(#85f0cb, #32d85f, 10%);
}*/

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

/*
.CodeMirror .cm-keyword,
.CodeMirror .cm-atom,
.CodeMirror .cm-number,
.CodeMirror .cm-variable-3 {
	color: #f6acff !important;
	text-shadow: 1px 1px 8px #cb21ff, 1px -1px 8px #cb21ff, -1px 1px 8px #cb21ff, -1px -1px 8px #cb21ff !important;
}

.CodeMirror .cm-def,
.CodeMirror .cm-tag,
.CodeMirror .cm-meta,
.CodeMirror .cm-qualifier {
  /*.orange-shadow();*/
	color: #4848ff !important;
	text-shadow: 1px 1px 8px #000072, 1px -1px 8px #000072, -1px 1px 8px #000072, -1px -1px 8px #000072 !important;
}

.CodeMirror .cm-variable {
	color: #ffffa9 !important;
	text-shadow: 1px 1px 8px #eee400, 1px -1px 8px #eee400, -1px 1px 8px #eee400, -1px -1px 8px #eee400 !important;
}

.CodeMirror .cm-variable-2 {
  /*.blue-shadow();*/
	color: #9cddfa !important;
	text-shadow: 1px 1px 8px #00a390, 1px -1px 8px #00a390, -1px 1px 8px #00a390, -1px -1px 8px #00a390 !important;
}

.CodeMirror .cm-property,
.CodeMirror .cm-attribute {
	color: #6efcaa !important;
	text-shadow: 1px 1px 8px #004813, 1px -1px 8px #004813, -1px 1px 8px #004813, -1px -1px 8px #004813 !important;
}

.CodeMirror .cm-global-variable {
	color: #ff3e3e !important;
	text-shadow: 1px 1px 8px #cc0000, 1px -1px 8px #cc0000, -1px 1px 8px #cc0000, -1px -1px 8px #cc0000 !important;
}

.CodeMirror .cm-string {
	color: #d0a74c;
}

.CodeMirror .cm-string-2 {
	color: #fd55d7;
}

.CodeMirror .cm-operator {
	color: #fa7fd9;
}

.CodeMirror .cm-comment {
	color: #FFF !important;
	text-shadow: 1px 1px 8px #eabfbf, 1px -1px 8px #eabfbf, -1px 1px 8px #eabfbf, -1px -1px 8px #eabfbf !important;
}

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background-color: #0e0e12;
	color: #fa7fd9;
}

.CodeMirror .CodeMirror-selected {
	background: rgba(119, 33, 184, 0.5);
}

.CodeMirror-focused .CodeMirror-selected {
	background: rgba(192, 136, 234, 0.5);
}

.CodeMirror .CodeMirror-gutters {
	background-color: #0e0e12;
	border-right: 1px solid #4b2f43;
}

.CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #fa7fd9 !important;
	text-shadow: 1px 1px 8px #c70091, 1px -1px 8px #c70091, -1px 1px 8px #c70091, -1px -1px 8px #c70091 !important;
}

.CodeMirror-gutter-elt {
	color: #4b2f43 !important;
}

.CodeMirror .CodeMirror-matchingbracket {
	background-color: #fa7fd9;
	color: #0e0e12 !important;
	box-shadow: 1px 1px 8px #c70091, 1px -1px 8px #c70091, -1px 1px 8px #c70091, -1px -1px 8px #c70091 !important;
}

.CodeMirror-matchingtag {
	background: #c11f96;
}

.CodeMirror-matchingtag.cm-string {
	color: #e5cf9d;
}

.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
	background: #2d2d3a !important;
}

.CodeMirror .CodeMirror-cursor {
	border-left: 1px solid #fa7fd9 !important;
}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor {
	border-left: none !important;
	border-bottom: 1px solid #fa7fd9;
	width: 1.2ex;
}
/* Non-editor styling */
#image-holder,
#not-editor {
	background-color: #0e0e12;
}

#image-holder {
	color: #fa7fd9;
}
*/
