// #Code 

  // ^Affects Notion Code Markdown  
code.code {
  border-radius: var(--element-radius) !important;
  background-color: var(--color-default) !important;
  color: var(--color-text-pink) !important;
  text-shadow: 1px 1px 1px black !important;
  font-size: 1rem;
  padding: .2em .4em;
  word-break: break-word !important;
}


  // ^Affects BACKGROUND of Codeblock 
.notion-code pre {
  border-radius: var(--element-radius)  !important;
  background-color: var(--color-bg-black-light) !important;
  padding: 17px 8px 16px 16px;
  // !color: #fff; 
  // !text-shadow: white 20px 18px; 
  box-shadow: lime 0 0 0 2px !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  border-radius: 3px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  margin: 10px 0;
  direction: ltr;
  overflow: auto;
}

.notion-code code {
  // ! Affects Text Inside the Codeblock 
  // !Text Shadow Can Cause Code Distortion
  color: white !important;
  text-shadow: transparent 1px 1px !important;
}