  //#Toggle block  
    //!THIS HAS BEEN BROUGHT OVER FROM SUPER CSS EDITOR
  //^ SHOW/Hide All Toggles
.notion-toggle {
  display: block !important;
}
  //^ HIDE Toggles with Specific Color BG 
  //$ Toggle with BG color below won't appear on page 
  //* Replace brown with any color (optional)  
.notion-toggle.bg-brown {
  display: none !important;
}

.notion-toggle.open {
  margin-bottom: 1rem !important;
  text-shadow: 1px 1px 1px black !important;
}

.notion-toggle__summary {
  font-weight: 600 !important;
}

.notion-toggle__summary::before {
  font-size: 2em !important;
  border-radius: var(--element-radius) !important;
  margin: 0 0em 0.25em 0 !important;
  position: relative !important;
}


//# Simple tables 


//# Toggle heading 1 


h1.notion-heading,
h1.notion-heading.toggle,
//$ Affects Toggle Glyphs
.notion-toggle-heading-1 {
    color: var(--color-text-h1) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 2.5rem !important; 
}

//$ Area under an open heading toggle 
//$ Affects Toggle Glyphs   
.notion-toggle.open.notion-toggle-heading-1 {
    color: var(--color-text-white) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 1rem !important; 
}


//# Toggle heading 2 

h2.notion-heading,
h2.notion-heading.toggle,
//$ Affects Toggle Glyphs
.notion-toggle-heading-2 {
    color: var(--color-text-h2) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 1.75rem !important; 
}

//$ Area under an open heading toggle 
//$ Affects Toggle Glyphs   
.notion-toggle.open.notion-toggle-heading-2 {
    color: var(--color-text-white) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 1rem !important; 
}

//# Toggle heading 3 

h3.notion-heading,
h3.notion-heading.toggle,
//$ Affects Toggle Glyphs
.notion-toggle-heading-3 {
    color: var(--color-text-h3) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 1.375rem !important; 
}

//$ Area under an open heading toggle 
//$ Affects Toggle Glyphs   
.notion-toggle.open.notion-toggle-heading-3 {
    color: var(--color-text-white) !important;
    text-shadow: 3px 3px 3px black !important;
    font-size: 1rem !important; 
}