/* #THEME: POLITICAL */

/* #COMMENT SYSTEM */ 
/* ! - fix this */
/* todo - do this */
/* ? - wut dis */
/* * lookit this */
/* // this done */
/* #section */
/* $subsection*/
/* %variables */

/* VARIABLES*/
:root {
/* #VARIABLES */
  /* $Width */
  /* ^Page Width */
  --theme-width: 1440px !important;
  --responsive-width:  calc(100% - var(--column-spacing)) !important;
  --long-width: 800px !important;
  --mid-width: 400px !important;
  --short-width: 200px !important;
  /* $UI */
  /*^ Global Border Radius [Rounding] */
  --element-radius: 10px !important;
  /*^ Site Font Size*/
  --body-font: 16px !important;
  /*^ Site Column Spacing*/
  --column-spacing: 2em !important;
  /* $Global Colors */
  /*^ default theme color */
  --color-default: rgb(10, 49, 97) !important;
  --color-hover: rgb(10,49,97) !important;
  --color-default-light: rgba(var(--color-default),0.5) !important;
  --color-default-hover: rgba(var(--color-hover),1) !important;
  /*^ global background color */
  --site-background: 51, 102, 153 !important;
  --color-bg-default: rgb(var(--site-background)) !important;
  /*^ global foreground text color */
  --color-text-default: rgb(255,255,255) !important;
  /*^ dimmer global foreground text color */
  --color-text-default-light: rgb(200,200,200) !important;
  /*^ default border color for elements */
  --color-border-default: var(--color-default) !important;
  /*^ accent color */
  --color-accent-bg: rgb(101,153,202) !important;
  /*^ alt accent color w/ transparency */
  --color-accent-bg-light: rgba(101,153,202,0.5) !important;
  /*^ default color for block backgrounds */
  --color-card-bg: var(--color-default) !important;
  /*^ default color for element :hover*/
  --color-ui-hover-bg: rgba(var(--color-default-hover),0.25) !important;
  --color-ui-hover-bg-light: rgba(var(--color-default-hover),0.125) !important;
  /* $Colors */
  --color-white: 255, 255, 255 !important; 
  --color-black: 0, 0, 0 !important;
  --color-gray: 96, 96, 96 !important;
  --color-brown: 67, 33, 0 !important;
  --color-orange: 153, 67, 10 !important;
  --color-yellow: 125, 125, 32 !important;
  --color-green: 51, 97, 67 !important;
  --color-blue: 10, 49, 97 !important;
  --color-purple: 108, 51, 153 !important;
  --color-pink: 153, 108, 153 !important;
  --color-red: 153, 51, 102 !important;
  /* $Text */
  --color-text-white: rgb(var(--color-white)) !important; 
  --color-text-black: rgba(0,0,0,1) !important;
  --color-text-gray: rgba(192,192,192,1)  !important;
  --color-text-brown: rgba(100,75,50,1)  !important;
  --color-text-orange: rgba(175,50,0,1)  !important;
  --color-text-yellow: rgba(232,232,0,1)  !important;
  --color-text-green: rgba(75,175,75,1)  !important;
  --color-text-blue: rgba(50,125,175,1)  !important;
  --color-text-purple: rgba(175,50,175,1)  !important;
  --color-text-pink: rgba(225,150,200,1)  !important;
  --color-text-red: rgba(225,50,50,1)  !important;  
  /* $Background = More Opacity */
  --color-bg-gray: rgba(var(--color-gray),1)  !important;
  --color-bg-black: rgba(var(--color-black),1) !important;
  --color-bg-brown: rgba(var(--color-brown),1)  !important;
  --color-bg-orange: rgba(var(--color-orange),1)  !important;
  --color-bg-yellow: rgba(var(--color-yellow),1)  !important;
  --color-bg-green: rgba(var(--color-green),1)  !important;
  --color-bg-blue: rgba(var(--color-blue),1)  !important;
  --color-bg-purple: rgba(var(--color-purple),1)  !important;
  --color-bg-pink: rgba(var(--color-pink),1)  !important;
  --color-bg-red: rgba(var(--color-red),1)  !important;
  /* $Background Light = More Transparency */
  --color-bg-gray-light: rgba(var(--color-gray),0.5)  !important;
  --color-bg-black-light: rgba(var(--color-black),0.25) !important;
  --color-bg-brown-light: rgba(var(--color-brown),0.5)  !important;
  --color-bg-orange-light: rgba(var(--color-orange),0.5)  !important;
  --color-bg-yellow-light: rgba(var(--color-yellow),0.5)  !important;
  --color-bg-green-light: rgba(var(--color-green),0.5)  !important;
  --color-bg-blue-light: rgba(var(--color-blue),0.5)  !important;
  --color-bg-purple-light: rgba(var(--color-purple),0.5)  !important;
  --color-bg-pink-light: rgba(var(--color-pink),0.5)  !important;
  --color-bg-red-light: rgba(var(--color-red),0.5)  !important;
  /* $Border Colors */
  --color-border-dark: rgba(var(--color-black),1)  !important;
  --color-border-black: rgba(0,0,0,1) !important;
  --color-border-gray: rgba(128,128,128,1)  !important;
  --color-border-brown: rgba(100,75,50,1)  !important;
  --color-border-orange: rgba(175,50,0,1)  !important;
  --color-border-yellow: rgba(175,175,0,1)  !important;
  --color-border-green: rgba(75,175,75,1)  !important;
  --color-border-blue: rgba(50,125,175,1)  !important;
  --color-border-purple: rgba(175,50,175,1)  !important;
  --color-border-pink: rgba(225,150,200,1)  !important;
  --color-border-red: rgba(225,50,50,1)  !important;  
  /* $Background Gradient */
  --color-gradient-0: rgba(var(--site-background),0) !important;
  --color-gradient-1: rgba(var(--site-background),1) !important;
  --color-gradient-point-1: rgba(var(--site-background),0.1) !important;
  /* $Pill Colors */
  --color-pill-default: rgba(var(--color-default),.5)  !important;
  --color-pill-gray: rgba(var(--color-gray),.5)  !important;
  --color-pill-brown: rgba(var(--color-brown),.5)  !important;
  --color-pill-orange: rgba(var(--color-orange),.5)  !important;
  --color-pill-yellow: rgba(var(--color-yellow),.75)  !important;
  --color-pill-green: rgba(var(--color-green),.5)  !important;
  --color-pill-blue: rgba(var(--color-blue),.5)  !important;
  --color-pill-purple: rgba(var(--color-purple),.75)  !important;
  --color-pill-pink: rgba(var(--color-pink),0.75)  !important;
  --color-pill-red: rgba(var(--color-red),0.5)  !important;
  /* $Call to Actions */
  --cta-padding: 13px 14px !important;
  --cta-border-radius: 4px !important;
  --cta-border: none !important;
  --cta-shadow: none !important;
  /* $Callouts */
  --callout-padding: 15px 20px 15px 15px !important;
  --callout-margin: 1rem .5rem !important;
  --callout-border: 1px solid var(--color-border-default) !important;
  --callout-border-radius: 4px !important;
  --callout-shadow: none !important;
  --callout-icon-size: 20px !important;
  --callout-emoji-size: 18px !important;
  /* $Collections */
  --collection-property-text-size: 14px !important;
  --collection-list-item-border-radius: 0px !important;
  --collection-list-item-padding: 5px 0px 5px 5px !important;
  --collection-title-text-size: 16px !important;
  --collection-gallery-gap: 30px !important;
  --collection-card-padding: 20px !important;
  --collection-card-border: 1px solid var(--color-border-default) !important;
  --collection-card-border-radius: 5px !important;
  --collection-card-cover-size-small: 172px !important;
  --collection-card-cover-size-medium: 260px !important;
  --collection-card-cover-size-large: 320px !important;
  /* $Collection Card Size*/
  --collection-card-cover-size-small: calc(20%) !important;
  --collection-card-cover-size-medium: calc(30%) !important;
  --collection-card-cover-size-large: calc(45%) !important;
  /* $Pills */
  --notion-pill-padding: 2px 5px !important;
  --notion-pill-border-radius: 0px !important;
  --notion-pill-text-size: 12px !important;
  --notion-pill-text-weight: 500 !important;
  --notion-pill-text-transform: uppercase !important;
  --notion-pill-letter-spacing: 1px !important;
  /* $Images */
  --image-border-radius: 10px !important;
  /* $Misc */
  --divider-margin: 15px 0px !important;
  --divider-opacity: 1 !important;
  /* $Typography */
  --text-spacing: 1px !important;
  --secondary-font: 'Inter', sans-serif !important;
  --notion-text-margin: 0px 0px 0px 0px !important;
  /* $h1 - Header 1 */
  --h1-text-color: rgb(255, 255, 255) !important;
  --h1-size: 2.5rem !important;
  --h1-weight: 800 !important;
  --h1-spacing: -0.04em !important;
  --h1-margin: 5px 0px 5px 0px !important;
  --h1-line-height: 1 !important;
  --h1-text-shadow: 0px 0px 0px transparent !important;
/*  --h1-text-shadow: 3px 3px 3px var(--color-default) !important;*/
  /* $h2 - Header 2 */
  --h2-text-color: rgb(255, 255, 255) !important;
  --h2-size: 1.75rem !important;
  --h2-weight: 700 !important;
  --h2-spacing: -0.03em !important;
  --h2-margin: 0.5rem 0 !important;
  --h2-line-height: 100% !important;
  --h2-text-shadow: 0px 0px 0px transparent !important;
/*  --h2-text-shadow: 3px 3px 3px var(--color-default) !important;*/
  /* $h3 - Header 3 */
  --h3-text-color: rgb(255, 255, 255) !important;
  --h3-size: 1.375rem !important;
  --h3-weight: 600 !important;
  --h3-spacing: -0.02em !important;
  --h3-margin: 0.5rem 0 !important;
  --h3-line-height: 1.4 !important;
  --h3-text-shadow: 0px 0px 0px transparent !important;
/*  --h3-text-shadow: 3px 3px 3px var(--color-default) !important;*/
  /* $Header Hover */
  --header-hover: var(--color-text-gray) !important;
  /* $Toggles */
  --toggle-size: 32px !important;
  --toggle-color: var(--color-accent-bg) !important;
  /* $Links */
  --link-border-width: 0px 0px 0px 0px !important;
  --link-border-style: none !important;
  --link-border-color: none !important;
  /* $Padding */
  --footer-padding: 1rem 1rem !important;
  /* $Margin */
}

/* %END VARIABLES */


/* #POLITICAL CUSTOMIZATION */



/* #HTML */

html {
  font-size: var(--body-font) !important;
}

body {
  font-size: var(--body-font) !important;
}



/* #SUPER */


/* $NAVBAR */

.super-navbar {
    border-radius: var(--element-radius) !important;
    top: 1em !important;
    margin: -1em auto !important;
    width: 100% !important;
    max-width: var(--responsive-width) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
  }

.super-navbar__item.active,
.super-navbar__item:hover {
    opacity: 1;
    color: var(--color-text-yellow)!important;
  }

.super-navbar__cta {
    padding: 0.75em 2em !important;
    border-radius: var(--element-radius) !important;
    font-size: 0.8rem !important;
    transition: 0.1s ease-in-out !important;
  }

.super-navbar__content {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

.super-navbar__actions,
.super-navbar__logo {
    padding: 0 !important;
  }

.super-navbar__menu {
  background-color: var(--color-default-light) !important;
  min-width: 200px !important;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px) !important;
}

.super-navbar__item {
  opacity: .85 !important;
}

/* $Content */
/* !Responsible for Parallax Effect */
/* !The Gradient is the only solution available */
/* !To cover over the notion-header__cover-image  */
/* !was previously .super-content.has-footer */
.super-content {
    padding-top: 10rem;
    padding-bottom: 4em !important;
    margin-bottom: -1rem;
    background-image: linear-gradient(to bottom, var(--color-gradient-0), var(--color-gradient-point-1), var(--color-gradient-1), var(--color-gradient-1), var(--color-gradient-1), var(--color-gradient-1), var(--color-gradient-1));
  }

/* This compenstates for setting display: BLOCK for */
/* .notion-header .notion-header__title-wrapper */
.super-content {
  margin-top: -5rem !important;
}

    /* Set Page Width */
.super-content.max-width {
  max-width: var(--responsive-width) !important;
  margin: 0;
  margin-top: -5rem !important;
}


/* #Footer */

.super-footer {
  margin: 0;
  padding: 0 2rem;
  }

 /* ^Full length footer  */
.super-footer.corners {
    padding: 0 2rem;
    margin: 0;
  }

/* ^Footer with margin */
.super-footer.floating {
  padding: 0 2rem;
  margin: 0;
}

.super-footer__link {
  opacity: 0.7;
  font-weight: bold;
}

.super-footer__link:hover {
    opacity: 1;
}



/* #NOTION */
/* $NOTION HEADER */

.notion-header {
  /* The inputs below affect Header Cover image */
  /* They are linked to .notion-header__cover */
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    position: relative;   
  /* !Should Get Rid Of These Below (?) */
    max-height: 50vh !important;
    height: 50vh !important;
  }

.notion-header.page {
    padding-bottom: 25rem;
  }

.notion-header__title-wrapper {
    max-width: 100% !important;
  }

.notion-header__content.max-width {
    max-width: 100% !important;
  }

.notion-header__cover {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0px !important;
    /* !The Inputs below are linked to .notion-header */
    max-height: 30vh;
    height: 30vh;
    /* !Has something to do with Notion Header Cover Image */
    overflow: visible;
    position: relative;
  }

div.notion-header__cover.has-cover {
    height: 30rem;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -100 !important;
  }

div.notion-header__cover {
    z-index: -99 !important;
  }

img.notion-header__cover-image {
    display: block;
    box-sizing: border-box;
    border: medium none;
    padding: 0px;
    margin: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center 50%;
    inset: 0px;
    position: relative;
    transform: translateZ(0);
    border-radius: 0px !important;
  }

.notion-heading {
    padding: 0 !important;
  }

.notion-column {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

.notion-text {
    min-height: calc(1rem + 10px) !important;
  }

/* #CTA */

.highlighted-background {
    transition: 0.3s ease-in-out !important;
    border-radius: 2px !important;
  }

.highlighted-background:hover {
    opacity: 0.8 !important;
  }

.highlighted-background a {
  padding: 0.9em 1.5em !important;
  border: none !important;
  opacity: 1 !important;
  border-radius: var(--element-radius) !important;
  color: var(--color-bg-default) !important;
}

.highlighted-background.bg-gray a {
  background-color: var(--color-black) !important;
}

.highlighted-background.bg-brown a {
  background-color: var(--color-brown) !important;
}

.highlighted-background.bg-orange a {
  background-color: var(--color-orange) !important;
}

.highlighted-background.bg-yellow a {
  background-color: var(--color-yellow) !important;
}

.highlighted-background.bg-green a {
  background-color: var(--color-green) !important;
}

.highlighted-background.bg-blue a {
  background-color: var(--color-blue) !important;
}

.highlighted-background.bg-purple a {
  background-color: var(--color-purple) !important;
}

.highlighted-background.bg-pink a {
  background-color: var(--color-pink) !important;
}

.highlighted-background.bg-red a {
  background-color: rgb(var(--color-red)) !important;
}


/* #BLOCK CUSTOMIZATION */

/* $Basic */


/* $Text */

p {
  line-height: 100% !important;
  margin-bottom: 1rem !important;
  max-width: var(--theme-width) !important;
  -webkit-animation: fadeIn 1.25s !important;
  -moz-animation: fadeIn 1.25s !important;
  -ms-animation: fadeIn 1.25s !important;
  -o-animation: fadeIn 1.25s !important;
  animation: fadeIn 1.25s !important;
}


/* $Heading 1 & */
/* $Toggle heading 1 */

h1,
h1.notion-heading,
h1.notion-heading.toggle,
/*$ Affects Toggle Glyphs   */
.notion-toggle-heading-1 {
  color: var(--h1-text-color) !important;
  font-size: var(--h1-size) !important;
  font-weight: var(--h1-weight) !important;
  font-style: normal !important;
  line-height: var(--h1-line-height) !important;
  text-shadow: var(--h1-text-shadow) !important;
  letter-spacing: var(--h1-spacing) !important;
  margin: var(--h1-margin) !important;
  margin-bottom: 0.5em !important;
  max-width: var(--theme-width) !important;
  -webkit-animation: fadeIn 0.5s !important;
  -moz-animation: fadeIn 0.5s !important;
  -ms-animation: fadeIn 0.5s !important;
  -o-animation: fadeIn 0.5s !important;
  animation: fadeIn 0.5s !important;
}

/*$ Area under an open heading toggle */
/*$ Affects Toggle Glyphs   */
.notion-toggle.open.notion-toggle-heading-1 {
  color: var(--color-text-white) !important;
  text-shadow: var(--h1-text-shadow) !important;
  font-size: 1rem !important;
}


/* $Heading 2 & */
/* $Toggle heading 2 */

h2,
h2.notion-heading,
h2.notion-heading.toggle,
/*$ Affects Toggle Glyphs   */
.notion-toggle-heading-2 {
  color: var(--h2-text-color) !important;
  font-size: var(--h2-size) !important;
  font-weight: var(--h2-weight) !important;
  font-style: normal !important;
  line-height: var(--h2-line-height) !important;
  text-shadow: var(--h2-text-shadow) !important;
  letter-spacing: var(--h2-spacing) !important;
  margin: var(--h2-margin) !important;
  margin-bottom: 0.5em !important;
  max-width: var(--theme-width) !important;
  -webkit-animation: fadeIn 0.75s !important;
  -moz-animation: fadeIn 0.75s !important;
  -ms-animation: fadeIn 0.75s !important;
  -o-animation: fadeIn 0.75s !important;
  animation: fadeIn 0.75s !important;
}

/*$ Area under an open heading toggle */
/*$ Affects Toggle Glyphs   */
.notion-toggle.open.notion-toggle-heading-2 {
  color: var(--color-text-white) !important;
  text-shadow: var(--h2-text-shadow) !important;
  font-size: 1rem !important;
}

/* $Heading 3 & */
/* $Toggle heading 3 */

h3,
h3.notion-heading,
h3.notion-heading.toggle,
/*$ Affects Toggle Glyphs   */
.notion-toggle-heading-3 {
  color: var(--h3-text-color) !important;
  font-size: var(--h3-size) !important;
  font-weight: var(--h3-weight) !important;
  font-style: normal !important;
  line-height: var(--h3-line-height) !important;
  text-shadow: var(--h3-text-shadow) !important;
  letter-spacing: var(--h3-spacing) !important;
  margin: var(--h3-margin) !important;
  margin-bottom: 0.5em !important;
  max-width: var(--theme-width) !important;
  -webkit-animation: fadeIn 1s !important;
  -moz-animation: fadeIn 1s !important;
  -ms-animation: fadeIn 1s !important;
  -o-animation: fadeIn 1s !important;
  animation: fadeIn 1s !important;
}

/*$ Area under an open heading toggle */
/*$ Affects Toggle Glyphs   */
.notion-toggle.open.notion-toggle-heading-3 {
  color: var(--color-text-white) !important;
  text-shadow: var(--h3-text-shadow) !important;
  font-size: 1rem !important;
}


/* $Heading & Toggle :hover */

h1:hover,
h1.notion-heading:hover,
h1.notion-heading.toggle:hover,
/*$ Affects Toggle Glyphs   */
.notion-toggle-heading-1:hover,
h1:hover,
h2.notion-heading:hover,
h2.notion-heading.toggle:hover,
/*$ Affects Toggle Glyphs   */
.notion-toggle-heading-2:hover,
h3:hover,
h3.notion-heading:hover,
h3.notion-heading.toggle:hover,
/* $Affects Toggle Glyphs   */
.notion-toggle-heading-3:hover{
  color: var(--header-hover) !important;
}


/* #Page */

/* !This is direct from Super Editor */
.notion-page {
  display: inline-block !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: var(--element-radius) !important;
  line-height: 0.2em !important;
  text-align: left !important;
  align-items: stretch !important;
}

.notion-page>div {
  border-radius: var(--element-radius) !important;
  display: flex !important;
  transition: 300ms ease-in !important;
  padding: 0.5em !important;
}

.notion-page, .notion-page>div { 
    z-index: 1 !important;
  }

.notion-page>div:hover {
  background-color: transparent !important;
}

/* This is Notion page links within Words or other elements with words */
/* ^Does NOT contain the full width of the page block */
/* !If you change the display you lose the underline */
.notion-page .notion-semantic-string {
  background-color: transparent !important;
  text-transform: capitalize !important;
  display: inline-block !important;
  color: white !important;
  font-weight: bold !important;
  border-bottom: 1px solid var(--color-bg-yellow) !important;
}

.notion-page .notion-semantic-string:hover {
  background-color: transparent !important;
  font-weight: bold !important;
  border-bottom: 1px solid yellow !important;
}

/* ?Unclear of difference between this and .notion-page */
/* !This will revert yellow border-bottom to color-default */
.notion-page__title .notion-semantic-string {
  border-bottom: 1px solid var(--color-border-default) !important;
}

/* $Without this code Page Blocks hover*/
/* ^Pages WITHOUT icons OR Mentions */
.notion-page:focus,
.notion-page:hover,
/* ^Pages WITH icons OR Page Mentions */
.notion-page.emoji:hover,
/* ^Not Sure Where these are yet*/
.notion-link.notion-page:hover {
  background-color: transparent !important;
  border-radius: 5px !important;
}

/*^ Property name in databases*/
.notion-page__property-name {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  flex: 0 0 auto;
  min-width: 0;
  padding-top: 7px;
  color: white !important;
}

/* ^Properties on a Page */
/* All Properties on a Page*/
.notion-page__properties {
  display: flex !important;
  overflow: hidden !important;
}

/* !Direct from Super Editor */
/*^ Property name in databases*/
.notion-page__property-name {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  flex: 0 0 auto;
  min-width: 0;
  padding: 0;
  color: white !important;
}


/* #Callout */

.notion-callout {
    border-radius: var(--element-radius) !important;
    padding: 1rem 0 !important;
    padding-top: .25rem !important;
    margin: 1rem 0 !important;
    margin-top: .25rem !important;
  }

.notion-callout.border {
    border-width: .2rem !important;
    padding: 0 !important;
    margin: .5rem 0 !important;
    color: var(--color-text-white) !important;
  }
  
.notion-callout__icon {
    margin: 1rem .25rem !important;
    padding: 0 !important;
  }

p.notion-callout__content {
    max-width: var(--theme-width) !important;
    width: var(--theme-width) !important;
    margin: var(--callout-margin) !important;
  }



  /* $Callout Titles*/
  .notion-callout__content:first-of-type > .notion-semantic-string span {
    display: flex !important;
    justify-content: center;
    color: var(--h1-text-color) !important;
    font-size: var(--h3-size) !important;
    font-weight: var(--h1-weight) !important;
    letter-spacing: var(--h3-spacing) !important;
    text-shadow: var(--h3-text-shadow) !important;
    margin: 0 !important;
    line-height: 1 !important;
  }

  /* %End Callout Titles */

/**  START #Callout Button */
/** (Entire block is clickable) */
/** Set Notion BG Color on Callout */
/*.notion-callout {
  position: relative !important;
}*/
/* ^This may come in handy sometime*/
/* ^Apparently anything with the class bg-<color>-light 
     ^has a BACKGROUND color selected from within Notion.
     ^Anything with the class bg-<color> has a FOREGROUND
     ^color selected from within Notion.
  /* ? Is this how it works?   
  /**
  /**.notion-callout.bg-gray-light, 
  /**.notion-callout.bg-brown-light, 
  /**.notion-callout.bg-orange-light, 
  /**.notion-callout.bg-yellow-light, 
  /**.notion-callout.bg-green-light, 
  /**.notion-callout.bg-blue-light, 
  /**.notion-callout.bg-purple-light, 
  /**.notion-callout.bg-pink-light, 
  /**.notion-callout.bg-red-light
  /**
  /**.notion-callout.bg-gray, 
  /**.notion-callout.bg-brown, 
  /**.notion-callout.bg-orange, 
  /**.notion-callout.bg-yellow, 
  /**.notion-callout.bg-green, 
  /**.notion-callout.bg-blue, 
  /**.notion-callout.bg-purple, 
  /**.notion-callout.bg-pink, 
  /**.notion-callout.bg-red,
  */


/* $Callout Buttons */
/* ^Default Callout Button */
[class="notion-callout border"] {
    color: var(--color-text-white) !important;
    background: var(--color-bg-default) !important;
    border-color: var(--color-border-black) !important;
  }

/* ^ Gray Callout Button */
[class="notion-callout bg-gray-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-gray) !important;
  border-color: var(--color-border-black) !important;
}

/*^ Brown Callout Button */
[class="notion-callout bg-brown-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-brown) !important;
  border-color: var(--color-border-brown) !important;
}

/*^ Orange Callout Button */
[class="notion-callout bg-orange-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-orange) !important;
  border-color: var(--color-border-orange) !important;
}

/*^ Yellow Callout Button */
[class="notion-callout bg-yellow-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-yellow) !important;
  border-color: var(--color-border-yellow) !important;
}

/*^ Green Callout Button */
[class="notion-callout bg-green-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-green) !important;
  border-color: var(--color-border-green) !important;
}

/*^ Blue Callout Button */
[class="notion-callout bg-blue-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-blue) !important;
  border-color: var(--color-accent-bg) !important;
}

/*^ Purple Callout Button */
[class="notion-callout bg-purple-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-purple) !important;
  border-color: var(--color-border-purple) !important;
}

/*^ Pink Callout Button */
[class="notion-callout bg-pink-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-pink) !important;
  border-color: var(--color-border-pink) !important;
}

/*^ Red Callout Button */
[class="notion-callout bg-red-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-red) !important;
  border-color: var(--color-border-red) !important;
}

/* %END Callout Button*/



/* $Callout Borders - Set Notion FG Color */

/*^ Gray Callout Border - Notion FG Color */
[class="notion-callout color-gray-light border"] {
  color: var(--color-text-white) !important;
  background-color: var(--color-bg-black-light) !important;
  border-color: var(--color-border-black) !important;
}

/*^ Brown Callout Border - Notion FG Color */
[class="notion-callout color-brown-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-brown-light) !important;
  border-color: var(--color-border-brown) !important;
}

/*^ Orange Callout Border - Notion FG Color */
[class="notion-callout color-orange-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-orange-light)  !important;
  border-color: var(--color-border-orange) !important;
}

/*^ Yellow Callout Border - Notion FG Color */
[class="notion-callout color-yellow-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-yellow-light) !important;
  border-color: var(--color-border-yellow) !important;
}

/*^ Green Callout Border - Notion FG Color */
[class="notion-callout color-green-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-green-light) !important;
  border-color: var(--color-border-green) !important;
}

/*^ Blue Callout Border - Notion FG Color */
[class="notion-callout color-blue-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-blue-light) !important;
  border-color: var(--color-accent-bg) !important;
}

/*^ Purple Callout Border - Notion FG Color */
[class="notion-callout color-purple-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-purple-light) !important;
  border-color: var(--color-border-purple) !important;
}

/*^ Pink Callout Border - Notion FG Color */
[class="notion-callout color-pink-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-pink-light) !important;
  border-color: var(--color-border-pink) !important;
}

/*^ Red Callout Border - Notion FG Color */
[class="notion-callout color-red-light border"] {
  color: var(--color-text-default) !important;
  background-color: var(--color-bg-red-light) !important;
  border-color: var(--color-border-red) !important;
}

/* #Pills */

.notion-pill {
  padding: 0.25em 0.75em !important;
  border-radius: var(--element-radius) !important;
  border-color: var(--color-accent-bg) !important;
}

span.notion-pill.pill-default.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-gray.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-brown.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-orange.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-yellow.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-green.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-blue.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-purple.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-pink.first {
  border: 1px solid var(--color-accent-bg) !important;
}

span.notion-pill.pill-red.first {
  border: 1px solid var(--color-accent-bg) !important;
}

/* #Quote */

.notion-quote {
  font-style: italic !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  width: 100% !important;
  margin: 1rem auto !important;
  padding: 1em 1em 2em 2em !important;
  border: 1px solid var(--color-white) !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  border-radius: var(--element-radius) !important;
}

/* $Quote Button */

/*^ Default Quoteblock Button */
[class="notion-quote"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid var(--color-border-default) !important;
  background: transparent !important;
}

/*^ Gray Quoteblock Button */
[class="notion-quote bg-gray"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-gray-light) !important;
  border: 3px solid var(--color-border-gray) !important;
}

/*^ Brown Quoteblock Button */
[class="notion-quote bg-brown"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-brown) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Orange Quoteblock Button */
[class="notion-quote bg-orange"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-orange-light) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Yellow Quoteblock Button */
[class="notion-quote bg-yellow"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-yellow-light) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Green Quoteblock Button */
[class="notion-quote bg-green"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-green-light) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Blue Quoteblock Button */
[class="notion-quote bg-blue"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-blue-light) !important;
  border: 3px solid var(--color-border-default) !important;
}


/*^ Purple Quoteblock Button */
[class="notion-quote bg-purple"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-purple-light) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Pink Quoteblock Button  */
[class="notion-quote bg-pink"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-pink-light) !important;
  border: 3px solid var(--color-border-default) !important;
}

/*^ Red Quoteblock Button */
[class="notion-quote bg-red"] {
  color: var(--color-text-default-light) !important;
  background-color: var(--color-bg-red-light) !important;
  border: 3px solid var(--color-border-default) !important;
}


/* $Quote Border */

/*^ Default Quoteblock Border */
[class="notion-quote"] {
  color: var(--color-text-default-light) !important;
  border: 4px solid var(--color-card-bg) !important;
}

/*^ Gray Quoteblock Border */
[class="notion-quote color-gray"] {
  color: var(--color-text-default-light) !important;
  border: 4px solid rgb(var(--color-gray)) !important;
}

/*^ Brown Quoteblock Border */
[class="notion-quote color-brown"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-brown)) !important;
}

/*^ Orange Quoteblock Border */
[class="notion-quote color-orange"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-orange)) !important;
}

/*^ Yellow Quoteblock Border */
[class="notion-quote color-yellow"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-yellow)) !important;
}

/*^ Green Quoteblock Border */
[class="notion-quote color-green"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-green)) !important;
}

/*^ Blue Quoteblock Border */
[class="notion-quote color-blue"] {
  color: var(--color-text-default-light) !important;
  border: 5px solid rgb(var(--color-blue)) !important;
}

/*^ Purple Quoteblock Border */
[class="notion-quote color-purple"] {
  color: var(--color-text-default-light) !important;
  border: 4px solid rgba(var(--color-purple), 1) !important;
}

/*^ Pink Quoteblock Border */
[class="notion-quote color-pink"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-pink)) !important;
}

/*^ Red Quoteblock Border */
[class="notion-quote color-red"] {
  color: var(--color-text-default-light) !important;
  border: 3px solid rgb(var(--color-red)) !important;
}

/* #Divider */

.notion-divider {
  border-bottom: 3px solid var(--color-default) !important;
  margin: 1rem 0 !important;
}


/* #To-do List */

.notion-to-do__content {
  margin-bottom: 1em !important;
}

.notion-to-do__icon {
  margin-inline: 0px !important;
  margin-right: 16px !important;
}

.notion-checkbox {
  width: 1.5em !important;
  height: 1.5em !important;
  border-radius: var(--element-radius) !important;
  background-color: var(--color-bg-default) !important;
  border: 1px solid rgb(var(--color-text-default)) !important;
}

.notion-checkbox svg {
  display: none !important;
}

.notion-checkbox.checked {
  width: 1.5em !important;
  height: 1.5em !important;
  border-radius: var(--element-radius) !important;
  background-color: var(--color-text-default) !important;
  border: 1px solid var(--color-text-default) !important;
}

.notion-checkbox.checked svg {
  display: inline !important;
}

.notion-checkbox.checked>svg {
  fill: var(--color-bg-default) !important;
}

.notion-to-do__title {
  opacity: 1 !important;
  text-align: left !important;
}

.notion-to-do__title.checked {
  opacity: 1 !important;
  text-align: left !important;
}

.notion-to-do__title.checked del {
  text-decoration: none !important;
  text-align: left !important;
}



/* #Bulleted list */

.notion-bulleted-list {
  padding-bottom: 1em !important;
}



.notion-bulleted-list {
  color: var(--color-text-white);
  background-color: rgba(var(--color-card-bg), .25);
  font-family: var(--secondary-font) !important;
}



/* #Numbered list */

.notion-numbered-list {
  padding-bottom: 1em !important;
}

.notion-numbered-list {
  color: var(--color-text-white);
  background-color: rgba(var(--color-card-bg), .25);
  font-family: var(--secondary-font) !important;
}



/*#Toggle block  */

.notion-toggle.open {
  margin-bottom: 0 !important;
  text-shadow: 1px 1px 1px var(--color-default) !important;
}

.notion-toggle__summary {
  font-weight: 600 !important;
  color: white !important;
}

.notion-toggle__summary::before {
  font-size: 2em !important;
  border-radius: var(--element-radius) !important;
  margin: 0 0em 0.25em 0 !important;
  position: relative !important;
}

div.notion-toggle__summary:hover {
  color: var(--color-text-gray) !important;
}

.notion-toggle__trigger {
  font-size: var(--toggle-size) !important;
  color: var(--toggle-color) !important;
  z-index: 20 !important;
}


.notion-toggle__content {
    padding-inline-start: calc(1.5em - 5px);
}


/* #Simple tables */


/* #Database */


/* #Collection Cards */


.notion-collection-card {
  color: var(--color-text-white) !important;
  background-color: var(--color-card-bg) !important;
  border: none !important;
  border-radius: var(--element-radius) !important;
  font-family: var(--secondary-font) !important;
  box-shadow: none !important;
  transition: .3s ease-in-out !important;
}

.notion-collection-card:hover {
  color: var(--color-text-white) !important;
  background-color: var(--color-card-bg) !important;
  border: none !important;
  transform: scale(1.1) !important;
  box-shadow: 0px 24px 16px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 1px 17px 23px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 1px 17px 23px 0px rgba(0, 0, 0, 0.05) !important;
}

.notion-collection-card__cover img {
  border-radius: 0px !important;
  border: 0 !important;
}

.notion-collection-card__content {
  padding: 0em 1rem 1rem 1rem !important;
}

.notion-collection-card__cover.large {
  height: 18rem !important;
  max-height: 18rem !important;
}

.notion-collection-card__cover.medium {
  height: 12rem !important;
  max-height: 12rem !important;
}

.notion-collection-card__cover.small {
  height: 10rem !important;
  max-height: 10rem !important;
}

.notion-collection-card img {
  opacity: 1 !important;
  transition: 0.3s ease-in-out !important;
}

.notion-collection-card:hover img {
  transform: scale(1.1) !important;
}



/* #Simple Table */

.notion-table {
  font-size: 1rem !important;
  margin: 1rem 0 !important;
  overflow: hidden !important;
  padding: 1em !important;
}


.notion-table td,
.notion-table th {
  padding: 1rem !important;
  overflow: hidden !important;
}


/* #Table */

.notion-collection-table {
  font-size: 1rem !important;
  border: 1px solid var(--color-border-default) !important;
  border-radius: var(--element-radius) !important;
  overflow: hidden !important;
  padding: 1em !important;
}

.notion-collection-table__wrapper {
  background-color: var(--color-border-default) !important;
  padding: 1em !important;
  border-radius: var(--element-radius) !important;
}

.notion-collection-table td,
.notion-collection-table th {
  padding: 1rem !important;
  border: 1px solid var(--color-border-default) !important;
  overflow: hidden !important;
  background-color: var(--color-bg-default) !important;
}

.notion-collection-table__head {
  background-color: var(--color-ui-hover-bg-light) !important;
}

.notion-collection-table__cell {
  padding: 1rem !important;
}

.notion-collection-table__cell .notion-pill {
  margin-bottom: 0.5rem !important;
}

.notion-collection-table__cell.title .notion-semantic-string {
  white-space: normal !important;
}



/* #Board */

.notion-collection-board {
  gap: 1rem !important;
  border: none !important;
  overflow-x: scroll !important;
  margin-bottom: 1rem !important;
  padding: 1em !important;
  background-color: var(--color-default) !important;
  border-radius: var(--element-radius) !important;
}

.notion-collection-board__item {
  margin-bottom: 1rem !important;
}

.notion-collection-board .notion-property__title {
  padding: 1rem !important;
  width: fit-content !important;
}

.notion-collection-board,
.notion-collection-board.small,
.notion-collection-board.medium,
.notion-collection-board.large {
  background-color: var(--color-bg-blue-light) !important;
}

/* #Gallery */

.notion-collection-card.gallery {
  border: 1px solid var(--color-border-default) !important;
  border-radius: var(--element-radius) !important;
  transition: .3s ease-in-out !important;
}

.notion-collection-card.gallery:hover {
  border: 1px solid var(--color-default-hover) !important;
  border-radius: var(--element-radius) !important;
  background-color: var(--color-card-bg) !important;
  transition: .3s ease-in-out !important;
}

.notion-collection-gallery .notion-property__title {
  padding: 1rem !important;
  width: fit-content !important;
}

.notion-collection-gallery {
  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--column-spacing) !important;
  padding: 0em !important;
  border: none !important;
  margin-bottom: 1rem !important;
  border-radius: var(--element-radius) !important;
}



/* #List */

.notion-collection-list {
  border: none !important;
  padding: 1rem !important;
  background-color: var(--color-card-bg) !important;
  border-radius: var(--element-radius) !important;
}

.notion-collection-list__item {
  display: inline-block !important;
  background-color: var(--color-bg-default) !important;
  padding: 1rem !important;
  transition: 0.3s !important;
  margin-bottom: 0.5rem !important;
}

.notion-collection-list__item:hover {
  background-color: var(--color-accent-bg) !important;
  box-shadow: 0px 24px 16px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 1px 17px 23px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 1px 17px 23px 0px rgba(0, 0, 0, 0.05) !important;
  transform: scale(1) !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
  border-bottom: none !important;
  white-space: normal !important;
  word-break: normal !important;
}

.notion-collection-list__item-property .notion-property__date,
.notion-collection-list__item-property .notion-property__select .notion-pill {
  font-size: 1em !important;
}

.notion-collection-list__item-property {
  margin-left: 0.5rem !important;
  font-size: 0.75rem !important;
}

.notion-semantic-string .individual span {
  padding-left: 0.5em !important;
}

.notion-semantic-string .individual {
  display: flex !important;
  font-size: 1em !important;
}



/* #Calendar */

.notion-collection-calendar {
  border: none !important;
  padding: 1rem !important;
  background-color: var(--color-border-default) !important;
  border-radius: var(--element-radius) !important;
}

.notion-collection-calendar__week-days {
  box-shadow: none !important;
}

.notion-collection-calendar__row {
  box-shadow: none !important;
}

.notion-collection-calendar__date {
  background-color: var(--color-bg-default) !important;
  border-color: var(--color-border-default) !important;
  ;
}

.notion-collection-card.calendar .notion-collection-card__content {
  padding: 0px 6px 1px 6px !important;
}



/* View switcher (Dropdowns for Views in Databases) */
/* ^ View selection at top of database */
.notion-dropdown__button p,
.notion-dropdown__option p {
  margin: 0px 1rem !important;
}

/* ^ Dropdown that lists Views */
div.notion-dropdown__option,
.notion-dropdown__option,
.notion-dropdown__option p,
.notion-dropdown__option-list,
.notion-dropdown__menu-header {
  background-color: var(--color-bg-default) !important;
  margin: auto !important;
  padding-left: auto !important;
}

.notion-dropdown__option:hover p,
.notion-dropdown__option-list:hover,
.notion-dropdown__menu-header:hover {
  background-color: var(--color-default-hover) !important;
}



/* Database grouping */





/* #Media */


/* Images */

img {
  border-radius: var(--element-radius) !important;
  -webkit-animation: fadeIn 1.5s !important;
  -moz-animation: fadeIn 1.5s !important;
  -ms-animation: fadeIn 1.5s !important;
  -o-animation: fadeIn 1.5s !important;
  animation: fadeIn 1.5s !important;
}

.notion-image {
  margin-bottom: 2rem !important;
}

.notion-image img {
  object-fit: cover !important;
}


/* Bookmarks */

.notion-bookmark {
  background-color: var(--color-card-bg) !important;
}

.notion-bookmark:hover {
  background-color: var(--color-default-hover) !important;
}

.notion-bookmark__title {
  color: var(--color-accent-bg);
}

.notion-bookmark__description {
  margin: 0.2rem !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  line-height: 1rem !important;
  height: fit-content !important;
  overflow: hidden !important;
}


/* Video */


/* Audio */


/* Code */

/* Affects Notion Code Markdown  */
code.code {
  border-radius: var(--element-radius) !important;
  background-color: var(--color-bg-blue-light) !important;
  color: var(--color-text-pink) !important;
  text-shadow: 1px 1px 1px var(--color-default) !important;
  font-size: 0.9rem;
  padding: .2em .4em;
  word-break: break-word !important;
}

/* Affects BACKGROUND of Codeblock */
.notion-code pre {
  border-radius: var(--element-radius) !important;
  background-color: var(--color-bg-black-light) !important;
  padding: 17px 8px 16px 16px;
  /* color: #fff; */
  /* text-shadow: white 20px 18px; */
  box-shadow: lime 0 0 0 2px !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  border-radius: 3px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  margin: 10px 0;
  direction: ltr;
  overflow: auto;
}

.notion-code code {
  /*  Affects Text Inside the Codeblock */
  /* Text Shadow Can Cause Code Distortion */
  color: white !important;
  text-shadow: transparent 1px 1px !important;
}


/* File */





/* #Embed */


/* Embed */

.notion-embed__content {
  border-radius: var(--element-radius) !important;
  overflow: hidden !important;
  margin-bottom: auto !important;
}

/* Google drive */


/* Tweet */


/* Gist */


/* Google maps */


/* Figma */


/* Abstract */


/* Invision */


/* Framer */


/* Whimsical */


/* Miro */


/* Sketch */


/* Excalidraw */


/* PDF */


/* Loom */


/* Typeform */


/* Codepen */


/* Replit */


/* Hex */


/* Deepnote */





/* #Advanced */


/*  #TABLE OF CONTENTS  */

.notion-table-of-contents {
  padding: 1rem !important;
  font-size: 0.75rem !important;
  margin: 1rem 0 !important;
  border-radius: var(--element-radius) !important;
  z-index: 19 !important;
  border: 1px solid var(--color-border-default) !important;
  color: white !important;
  background-color: var(--color-default-light) !important;
  opacity: 1 !important;
}

.notion-table-of-contents__item {
  padding: 0.25em 0.5em !important;
  opacity: 1 !important;
  transition: .5s !important;
}

.notion-table-of-contents__item .notion-semantic-string {
  border-bottom: none !important;
}

.notion-table-of-contents.bg-yellow,
.notion-table-of-contents.bg-yellow,
.notion-table-of-contents.bg-orange,
.notion-table-of-contents.bg-gray,
.notion-table-of-contents.bg-brown,
.notion-table-of-contents.bg-green,
.notion-table-of-contents.bg-blue,
.notion-table-of-contents.bg-purple,
.notion-table-of-contents.bg-pink,
.notion-table-of-contents.bg-red {
  border: none !important;
}

.notion-table-of-contents__item:hover {
  background-color: none !important;
  opacity: 0.5 !important;
}


/* #Equation */


/* #Synced blocks */


/* #Breadcrumbs */


.notion-breadcrumb,
.notion-breadcrumb__item,
.notion-breadcrumb>a,
.notion-breadcrumb>a.has-icon {
  padding: 5px !important;
}

/* END POLITICAL CUSTOMIZATION */


/* #THEME: POLITICAL OVERWRITES */
/* These should be set to default values */
/* When using template, copy/paste these 
     values into Super's global code section */

/* #NOTION-HEADER */

/* ^Show/Hide Notion Header */
/* ^(Page Title, Cover and Icon)*/
/* Set to NONE to hide all */
/* Set to BLOCK to show all*/
.notion-header {
  display: block !important;
}


/* Reduces empty space below header */
/* If .notion-header display is set to NONE*/
.notion-header__title-wrapper {
  display: none !important;
}

/* Show/Hide Page Title */
/* Only works if .notion-header__title-wrapper is set to BLOCK */
.notion-header__title {
  display: none !important;
  margin-bottom: 0 !important;
}

/* For a cover without a header title */
/* Set .notion-header (above) to BLOCK */
/* And set below to NONE */
.notion-header .notion-header__title-wrapper {
  display: block !important;
}

/* Notion Header Icon*/
/* Only works if .notion-header__title-wrapper is set to BLOCK */
.notion-header__icon-wrapper {
  display: none !important;
  /* was set to display: none */
}

/* ^Impacts Space beneath Header */
.notion-header__content.has-cover.has-icon .notion-header__title-wrapper {
  margin-top: 0 !important;
}


/* ^ Show/Hide Cover Image */
.notion-header__cover {
  display: block !important;
}

/* Show/Hide All Notion Page Block Icons  */
.notion-icon {
  display: block !important;
}

div.notion-callout__icon {
  display: none !important;
}






/* Show/Hide ALL Notion Page Blocks */
.notion-page {
  display: block !important;
}

/* Remove ALL Notion Page Block Icons*/
/* display: none */
/* Show Uploaded Icons & Icon Padding */
/* display: block*/
.notion-page__icon {
  display: none !important;
}

/* Show/Hide Notion Page Block Icons  */
/* Doesn't Work on Uploaded Images */
/* Leaves Icon Padding  */
.notion-icon__page {
  display: none !important;
}

/* $TOGGLES */
/* ^SHOW/Hide All Toggles*/
.notion-toggle {
  display: block !important;
}

/* ^HIDE Toggles with Specific Color BG*/
/*$ Toggle with BG color below won't appear on page */
/** Replace brown with any color (optional) */
.notion-toggle.bg-brown {
  display: none !important;
}

/* $Footer - .super-footer */

/* ^display: flex is default & goes across */
/* ^display: block for top-down */
.super-footer__links {
  display: flex !important;
}




/* #Pages */


/* $Home */


/* $Political */


/* $Activism */


/* $Technology */


/* $Blog */


/* $About */

/* ^Makes Personal Image centered */
div#block-6a134fea5b744910a0675568027ff676.notion-image.normal {
    justify-content: center !important;
    display: flex;
  }


/* #Contact */






/* #MOBILE RESPONSIVE */


@media screen and (max-width: 880px) {


  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.25rem !important;
  }


  .notion-divider {
    border-bottom: none !important;
    margin: 2em 0 !important;
  }

  .notion-column {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  .notion-quote {
    padding: 2em !important;
  }

  .notion-collection-list__item-content {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .notion-collection-list__item-property .notion-property__select {
    display: block !important;
  }

  .notion-collection-list__item-property .notion-property__select .notion-pill {
    margin-bottom: 0.5rem !important;
  }

  .notion-collection-list__item-property {
    margin-left: 0rem !important;
    font-size: 0.75rem !important;
  }

  :root {
    /* Mobile Body Font Size */
    --body-font: 16px !important;
    /* Mobile Collection Card Cover Size*/
    --collection-card-cover-size-small: 100% !important;
    --collection-card-cover-size-medium: 100% !important;
    --collection-card-cover-size-large: 100% !important;
  }
}