:root {
 /* $QUICK COLORS  */
 /* CHANGE COLORS ACROSS THEME */
 /* NEED RGB() IN VARIABLES */
--site-bg: 37, 37, 37 !important;
--site-accent: 173, 173, 37 !important;
--site-accent-bg: 73, 73, 37 !important;
--site-hover: 73, 73, 73 !important;
--site-primary: 51, 51, 51 !important;
/* $Global Colors */
/* $Colors */
--color-white: 255, 255, 255 !important;
--color-black: 0, 0, 0 !important;
--color-gray: 73, 73, 73 !important;
--color-brown: 67, 33, 0 !important;
--color-orange: 153, 67, 10 !important;
--color-yellow: 125, 125, 32 !important;
--color-green: 0, 102, 0 !important;
--color-blue: 10, 49, 97 !important;
--color-purple: 108, 51, 153 !important;
--color-pink: 153, 108, 153 !important;
--color-red: 153, 0, 0 !important;
/* ^GLOBAL THEME COLORS */
/* DEPEND ON QUICK COLORS */
/* DONT NEED RGB() IN VARIABLES */
/* $Text */
--color-text-white: rgb(var(--color-white)) !important;
--color-text-black: rgba(0, 0, 0, 1) !important;
--color-text-gray: rgba(192, 192, 192, 1) !important;
--color-text-brown: rgba(100, 75, 50, 1) !important;
--color-text-orange: rgba(175, 50, 0, 1) !important;
--color-text-yellow: rgba(232, 232, 0, 1) !important;
--color-text-green: rgba(75, 175, 75, 1) !important;
--color-text-blue: rgba(50, 125, 175, 1) !important;
--color-text-purple: rgba(175, 50, 175, 1) !important;
--color-text-pink: rgba(225, 150, 200, 1) !important;
--color-text-red: rgba(225, 50, 50, 1) !important;
/* $ color-bg = opaque */
/* $ color-bg-light = transparent */
--color-bg-gray: rgba(var(--color-gray), 1) !important;
--color-bg-gray-light: rgba(var(--color-gray), 0.5) !important;
--color-bg-black: rgba(var(--color-black), 1) !important;
--color-bg-black-light: rgba(var(--color-black), 0.25) !important;
--color-bg-brown: rgba(var(--color-brown), 1) !important;
--color-bg-brown-light: rgba(var(--color-brown), 0.5) !important;
--color-bg-orange: rgba(var(--color-orange), 1) !important;
--color-bg-orange-light: rgba(var(--color-orange), 0.5) !important;
--color-bg-yellow: rgb(var(--color-yellow)) !important;
--color-bg-yellow-light: rgba(var(--color-yellow), 0.5) !important;
--color-bg-green: rgba(var(--color-green), 1) !important;
--color-bg-green-light: rgba(var(--color-green), 0.5) !important;
--color-bg-blue: rgba(var(--color-blue), 1) !important;
--color-bg-blue-light: rgba(var(--color-blue), 0.5) !important;
--color-bg-purple: rgba(var(--color-purple), 1) !important;
--color-bg-purple-light: rgba(var(--color-purple), 0.5) !important;
--color-bg-pink: rgba(var(--color-pink), 1) !important;
--color-bg-pink-light: rgba(var(--color-pink), 0.5) !important;
--color-bg-red: rgba(var(--color-red), 1) !important;
--color-bg-red-light: rgba(var(--color-red), 0.5) !important;
/* ^THEME DEFAULT */
--color-default: rgb(var(--site-primary)) !important;
--color-default-light: rgba(var(--site-primary), 0.5) !important;
/* ^THEME BG DEFAULT */
--color-bg: rgb(var(--site-bg)) !important;
--color-bg-default: rgb(var(--site-bg)) !important;
--color-bg-light: rgba(var(--site-bg), 0.5) !important;
/* ^THEME ACCENT DEFAULT */
--accent: rgb(var(--site-accent)) !important;
--accent-light: rgba(var(--site-accent), 0.5) !important;
/* ^THEME ACCENT BG DEFAULT */
--accent-bg: rgb(var(--site-accent-bg)) !important;
--accent-bg-light: rgba(var(--site-accent-bg), 0.5) !important;
/* ^THEME HOVER DEFAULT */
--color-hover: rgb(var(--site-hover)) !important;
--color-hover-light: rgba(var(--site-hover), 0.5) !important;
--color-card-bg-hover: rgb(var(--site-hover)) !important; 
--color-card-bg-hover-light: rgba(var(--site-hover), 0.5) !important; 
/* $Header Hover */
--header-hover: var(--color-text-gray) !important;
--color-ui-hover-bg: rgba(var(--site-hover), 0.25) !important;
--color-ui-hover-bg-light: rgba(var(--site-hover), 0.125) !important;
/* ^DEFAULT COLOR: */
/* BLOCK BACKGROUNDS */
--color-card-bg: rgb(var(--site-primary)) !important;
/* ^NAVBAR CTA BUTTON */
--navbar-button-background-color: rgb(232, 232, 0) !important;
  /* $Call to Actions */
  --cta-padding: 13px 14px !important;
  --cta-border-radius: 4px !important;
  --cta-border: none !important;
  --cta-shadow: none !important;
/* ^CODE BLOCKS BACKGROUND */
--color-code-bg: var(--color-bg-black) !important;
/* ^FOREGROUND TEXT  */
--color-text-default: rgb(var(--color-white)) !important;
/* ^DIMMER FOREGROUND TEXT  */
--color-text-default-light: var(--color-text-gray) !important;
/* !END COLORS */
/* ^PAGE WIDTH */
--theme-width: 1200px !important;
--responsive-width: calc(100% - var(--column-spacing)) !important;
--long-width: 800px !important;
--mid-width: 400px !important;
--short-width: 200px !important;
/* $UI */
/* ^ Site Border Radius [Rounding] */
--element-radius: var(--border-radii-layout) !important;
--property-image-radius: 24px !important;
/* ^Site Font Size*/
--body-font: 14px !important;
--title-font: large !important;
--title-size: xxx-large !important;
/* ^Site Column Spacing*/
--column-spacing: 2em !important;
/* ^Site Shadow */
--site-shadow: 0 0 0 var(--color-default) !important;
/* ^Site Border */
--border-default: 1px solid var(--color-border-default) !important;
--color-border-default: var(--accent-bg) !important;
/* ^Site Header Level */
--notion-header-page-title: 75vh !important;
/* $SUPER CONTENT  */
--super-content-bg: var(--color-bg) !important;
--super-footer-padding: 0 2rem !important;
--super-content-padding: 0 !important;
--super-content-margin-top: 0 !important;
/* $PILLS */
--color-pill-default: var(--color-bg-black) !important;
--color-pill-text-default: var(--color-text-default) !important;
--pill-margin: .5rem 0 !important;
--pill-padding: .25rem !important;
/* $Callouts */
--callout-padding: 0.25rem 0 0.25rem 0 !important;
--callout-padding-top: 0.25rem !important;
--callout-title-bg: var(--color-bg-default) !important;
--callout-title-size: 2rem !important;
--callout-border-width: 1px !important;
--callout-border-style: solid !important;
--callout-border-color: var(--color-border-default) !important;
--callout-border-radius: var(--element-radius) !important;
--callout-justify: center !important;
--callout-icon-size: 20px !important;
--callout-emoji-size: 18px !important;
--callout-margin: 1rem 0 !important;
--callout-margin-top: 0.25rem !important;
--callout-content-margin: 0 0.5rem !important;
/* $Images */
--image-border-radius: var(--element-radius) !important;
/* $DIVIDERS */
--divider-margin: 15px 0 !important;
--divider-opacity: 1 !important;
/* $Typography */
--text-spacing: 1px !important;
--secondary-font: "Inter", sans-serif !important;
--notion-text-margin: 0 0 0 0 !important;
--heading-weight: 800;
/* $h1 - Header 1 */
--h1-text-color: rgb(255, 255, 255) !important;
--h1-size: var(--heading1-size) !important;
--h1-weight: 800 !important;
--h1-spacing: -0.04em !important;
--h1-margin: 0 0.25rem !important;
--h1-line-height: 1 !important;
--h1-text-shadow: var(--site-shadow) !important;
/* $h2 - Header 2 */
--h2-text-color: rgb(255, 255, 255) !important;
--h2-size: var(--heading2-size) !important;
--h2-weight: 700 !important;
--h2-spacing: -0.03em !important;
--h2-margin: 0 0.1875rem !important;
--h2-line-height: 100% !important;
--h2-text-shadow: var(--site-shadow) !important;
/* $h3 - Header 3 */
--h3-text-color: rgb(255, 255, 255) !important;
--h3-size: var(--heading3-size) !important;
--h3-weight: 600 !important;
--h3-spacing: -0.02em !important;
--h3-margin: 0 0.125rem !important;
--h3-line-height: 1.4 !important;
--h3-text-shadow: var(--site-shadow) !important;
/* $Toggles */
--toggle-size: 32px !important;
/* --toggle-color: var(--accent-bg) !important; */
--toggle-closed: var(--accent) !important;
--toggle-open: rgba(var(--site-accent), 0.75) !important;
/* $Links */
--link-border-width: 0 0 0 0 !important;
--link-border-style: none !important;
--link-border-color: none !important;
/* $Margin */
--code-margin: 1rem 1rem !important;
/* $Database View Picker */
/* $Spacing */
--picker-margin: var(--collection-margin) !important;
--picker-padding: var(--collection-padding) !important;
--picker-border-radius: var(--element-radius) !important;
/* $Active colors */
--picker-active-bg-color: var(--color-bg-yellow) !important;
--picker-active-text-color: var(--color-text-default) !important;
/* $Default colors */
--picker-border-color: var(--color-bg-yellow-light) !important;
--picker-text-color: var(--color-text-default) !important;
/* $Hover colors */
--picker-hover-bg-color: var(--color-bg-yellow-light) !important;
--picker-hover-text-color: var(--color-text-default) !important;
--picker-hover-border-color: var(--color-bg-yellow) !important;
/* !END Database View Picker */
/* ^Site Hero Image Parralax Effect /position: fixed/ */
--parallax-effect: fixed !important;
/* $Fluid Responsive Font */
--font-title-fallback: 24px !important;
--font-title-min: 1rem !important;
--font-title-preferred: 1vw + 1rem !important;
--font-title-max: 2.5rem !important;
--font-fallback: 16px !important;
--font-min: 16px !important;
--font-preferred: 1.75vw + 2px !important;
--font-max: 32px !important; 
/* $Page Property Titles - Fluid */
--font-title-fluid: clamp(var(--font-title-min), var(--font-title-preferred), var(--font-title-max)) !important;
/* $Page Font - Fluid */
--font-fluid: clamp(var(--font-min), var(--font-preferred), var(--font-max)) !important;
/* $Grid Layout */
--grid-layout: auto-fit !important;
/* $Collections */
--collection-margin: 0.25rem 0 !important;
--collection-padding: 0 0.5rem !important;
--collection-property-text-size: 14px !important;
--collection-list-item-border-radius: 0 !important;
--collection-list-item-padding: 5px 0 5px 5px !important;
--collection-title-text-size: 16px !important;
--collection-gallery-gap: 30px !important;
--collection-card-border: 1px solid var(--color-border-default) !important;
--collection-gallery-header: 1px none var(--collection-header-border)!important;
--collection-card-border-radius: var(--element-radius) !important;
    --collection-card-padding: 0px;
    --collection-card-title-padding: 0px;
    --collection-card-content-padding: var(--padding-layout);
    --collection-card-border-radii: var(--border-radii-layout);
    --collection-card-gap: 32px;
    --collection-card-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px -10px;
/* $COLLECTION CARDS */
/* $Collection Card Size */
--collection-card-cover-size-static-small: 172px !important;
--collection-card-cover-size-static-medium: 260px !important;
--collection-card-cover-size-static-large: 320px !important;
--collection-card-cover-size-tiny: 4rem !important;
--collection-card-cover-size-smaller: 6rem !important;
--collection-card-cover-size-small: 8rem !important;
--collection-card-cover-size-medium: 16rem !important;
--collection-card-cover-size-large: 24rem !important;
--collection-card-cover-size-larger: 32rem !important;
--collection-card-cover-height-small: 4rem;
--collection-card-cover-height-medium: 8rem;
--collection-card-cover-height-large: 12rem;
}

/* #BEGIN THEME CSS */

/* #WIDGETS */
/* ^Gumroad Shopping Cart */
/* @Default Display: *none* */
/* ?Only on Front Page, Sometimes */
.gumroad .cart-button {
    display: none;
    position: fixed;
    left: 18px;
    bottom: 18px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: yellow;
    color: black;
    border-color: transparent;
}
/* !END WIDGETS */

/* #SUPER NAVBAR */
/* ^Super Navbar BLUR */
/* @background-color: opacity must be <1 */
.super-navbar {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: var(--color-bg-light) !important;
}
/* ^Super Navbar Items */
a.notion-link.super-navbar__item {
    border-radius: var(--element-radius);
    margin: .25rem;
    border: 1px solid transparent;
    font-weight: 800;
}
.super-navbar__content .super-navbar__item:hover {
    border: var(--border-default);
}
a.notion-link.super-navbar__item.active {
    background-color: var(--accent-bg) !important;
}
/* !END SUPER NAVBAR ITEM */
/* !END SUPER NAVBAR */

/* #SUPER CONTENT */
/* background-color MUST BE SET */
/* for Parralax effect */
/* img.notion-header__cover-image {
  position: var(--parralax-effect);
  z-index: -10;} */
.super-content {
    background-color: var(--color-bg);
}
/* !END SUPER CONTENT */



/* #HEADER */
/* ^HEADER COVER IMAGES */
/* @POSITION: FIXED */
/* @OBJECT-FIT: COVER */
/* @Z-INDEX: -1 */
/* @all for parallax effect */
img.notion-header__cover-image {
    position: var(--parallax-effect) !important;
    object-fit: cover !important;
    z-index: -1;
}
/* .page__index img.notion-header__cover-image,
.parent-page__index img.notion-header__cover-image,
.parent-page__states img.notion-header__cover-image,
.parent-page__categories img.notion-header__cover-image {
    position: var(--parallax-effect) !important;
    object-fit: cover !important; */
    /* margin-top: 64px !important; */
/* } */
/* @OBJECT-FIT: CONTAIN ENABLED FOR: */
.parent-page__places-states img.notion-header__cover-image,
.parent-page__elected-officials img.notion-header__cover-image {
    position: absolute !important;
    object-fit: contain !important;
}
/* @Header Turned: *OFF* */
/* !END HEADER COVER IMAGE */

 /* #HEADER TITLE */
 /* @Header Title Turned: *ON* */
 /* DEFAULTS:  */
 /* margin-top: *96px* */
.notion-header__title-wrapper {
  margin-top: 0 !important;
}
.notion-header__title {
    width: fit-content;
    background-color: var(--color-bg);
    border: var(--border-default);
    border-radius: var(--element-radius);
    margin: auto;
    padding: var(--collection-padding);
    
}

/* @Page Height with *.no-cover* */
.notion-header__content.no-cover.no-icon-image .notion-header__title-wrapper,
.notion-header__content.no-cover.has-icon-image .notion-header__title-wrapper {
    margin-top: -96px !important;
    /* margin-top: 192px !important; */
}




/* #HEADER ICON */
/* @Header Icons Turned: *OFF*  */
img.notion-header__icon {
  display: none !important;
  height: 64px !important;
  width: 64px !important;
}
/* @IF NO COVER IMAGE Remove Header Icon */
.notion-header__icon-wrapper.no-cover.has-icon-image img.notion-header__icon {
    display: none !important;
}

/* #Header Icons turned: *ON* */
/* @UNDER ALL INDEX PAGES, CATEGORIES */
.page__index .notion-header__icon,
.parent-page__index .notion-header__icon,
.parent-page__categories .notion-header__icon,
.parent-page__states .notion-header__icon {
  display: block !important;
}
/* !END HEADER ICONS */

/* #NOTION HEADER PAGE CONTENT */
/* ?What is this? */
/*.notion-property__title .notion-property__title__icon-wrapper {*/
/*    display: none;*/
/*}*/

.notion-property__title .notion-semantic-string {
    font-weight: 500;
    font-size: var(--title-font);
    line-height: 1;
    word-break: normal;
} 

div.notion-property__url {
  font-size: 14px;
  white-space: nowrap;
}

/* ^Page Properties */
/* @Adds Page Properties Bottom-Border */
/* @Adds Link Bottom-Border :hover */
/* .notion-property__relation .resource .notion-link.notion-page, */
.notion-property__relation .resource .notion-link.notion-page .notion-page__title .notion-semantic-string {
    border-bottom: 1px solid var(--color-bg-yellow);
    border-radius: 0;
}
/* .notion-property__relation .resource .notion-link.notion-page:hover, */
.notion-property__relation .resource .notion-link.notion-page:hover .notion-page__title .notion-semantic-string {
    border-bottom: 1px solid var(--color-bg-yellow-light);
}
/* !END Page Properties Bottom-Border */



/* ^Notion Header Content Title Wrapper */
/* @DEFAULT: *96px* */
/*.notion-header__content .notion-header__title-wrapper {*/
/*     margin-top: 0;*/
/*}*/

/* ^PAGE PROPERTIES */
.notion-page__properties {
    margin-left: 0 !important;
    background-color: var(--color-bg) !important;
}

/* ^Property: *Property* */
/* @DEFAULT: *GRID* */
/* @display: grid;*/
/* @grid-template-columns: 160px 1fr;*/
/* @gap: 8px; */
/* @min-height: 36px;*/
.notion-properties .notion-page__property {
    font-size: var(--body-font);
    grid-template-columns: 192px 1fr !important;
    gap: 64px !important;
    background-color: var(--color-bg) !important;
    padding: 0 8px 0 !important;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.notion-page__property {
    display: grid;
    grid-template-columns: 256px 1fr !important;
    gap: 8px;
    min-height: 36px;
}

 /* ^PROPERTY: *TITLE* */
.notion-page__property-name {
    background-color: var(--color-bg-black) !important;
    border-radius: var(--element-radius);
    border: var(--border-default);
    align-items: center !important;
    white-space: pre-wrap !important;
    /* padding-top: 8px !important;  */
    padding: var(--collection-padding) !important;
}

/* @CENTER ALIGNS ALL PAGE PROPERTIES */
.notion-page__properties .notion-page__property .notion-page__property-name + .notion-property {
    align-self: center;
}

/* ^Property: *Images* */
.notion-property.notion-property__file {
    width: 100% !important;
}
/* @Relation File Image Container Div */
.notion-property.notion-property__file div {
    height: 18rem !important;
    width: 100% !important;
}
/* @Relation File Image */
.notion-property.notion-property__file img {
    /* min-height: 8rem; */
    /* min-height made SVG icons in properties act crazy */
    max-height: 18rem !important;
    height: 100%;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: var(--element-radius);
}

/* #NOTION PILLS */
/* ^PROPERTY: *Pills* */
.notion-pill {
  margin: var(--pill-margin) !important;
  padding: var(--pill-padding) !important;
  border: var(--border-default);
  border-radius: var(--element-radius);
}

.pill-default {
    background: var(--color-pill-default);
    color: var(--color-pill-text-default);
}
/* !END NOTION PILLS */


/* #Relation Property */
/* Default: *block* */
/*div.notion-property.notion-property__relation .notion-link.notion-page div.notion-page__icon {*/
/*    display: block !important;*/
/*    height: 32px !important;*/
/*    width: 32px !important;*/
/*}*/
/* @Relation Properties Stack */
.notion-property.notion-property__relation .notion-semantic-string span.resource div {
    display: flex;
}
/* !END PAGE PROPERTIES */


/* #HEADINGS */
h1.notion-heading,
h2.notion-heading, 
h3.notion-heading, 
h1.notion-heading.toggle, 
h2.notion-heading.toggle, 
h3.notion-heading.toggle {
    text-align: center !important;
    min-width: 100% !important;
    width: 100% !important;
    line-height: 1;
    word-break: keep-all;
    font-size: var(--font-title-fluid);
    color: var(--h1-text-color);
}
/* !END HEADINGS */

/* #NOTION ELEMENTS */

/* #NOTION PAGES */
/* ^NOTION PAGE ICONS */
.notion-semantic-string .resource .notion-page__icon {
    display: none;
}
/* !END NOTION PAGES */

/* #TOGGLES */
.notion-toggle.bg-brown {
  display: none;
}
/* !END TOGGLES */
/* !END NOTION ELEMENTS */

/* #COLLECTIONS */
/* @Linked Database Name WITH View Tabs */
.notion-collection__header .notion-semantic-string {
    white-space: nowrap !important;
}
/* @Collection Title Border Bottom (Full Length) */
.notion-collection__header-wrapper {
    border-bottom: var(--border-default);
}
/* @Collection Title Border Bottom (Length of Title) */
.notion-collection__header {
        border-bottom: 1px solid yellow;
}
/* @Collection Group Section Header Border Top  */
.notion-collection-group__section-header:not(.no-border) {
    border-top: 1px none #eee !important;
}
/* @Database View Picker Left Margin */
.notion-collection__header-wrapper .notion-dropdown__menu-wrapper {
    left: 0 !important;
    margin-top: 1rem;
}
/* @Removes Icon next to Database Collection Name */
.notion-collection__header-icon {
    display: none !important;
}

/* #COLLECTION GROUP */
.notion-collection-group__section-header .notion-property__title .notion-semantic-string {
    background-color: var(--color-bg-yellow-light);
    border-radius: var(--element-radius);
    padding: .125rem .5rem;
    font-size: var(--font-title-fluid);
}
/* !END COLLECTION GROUP */


/* #COLLECTION GALLERY  */
/* ^Collection Card Cover On Left */
/* @ENABLED ON */
/* $Elected Officials, 2022 (Children)  */
.parent-page__2022 .notion-collection-card.gallery,
.page__government-elected-officials .notion-collection-card.gallery {
    display: flex;
}
.parent-page__2022 .notion-collection-card__cover,
.page__government-elected-officials .notion-collection-card__cover {
    position: relative;
    min-height: 115px;
    height: 100%;
    width: 12rem;
    overflow: hidden;
}
.parent-page__2022 .notion-collection-card__cover img,
.page__government-elected-officials .notion-collection-card__cover img {
    min-height: 256px;
    height: 100%;
    min-width: 100%;
    width: 100%;
}
.parent-page__2022 .super-content,
.page__government-elected-officials .super-content {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* @property select pills stack */
.page__government-elected-officials .notion-collection-card__content .notion-property__select {
    display: inline;
}

/* !END COLLECTION CARD ON LEFT */
/*.notion-collection-card.gallery {*/
/*  min-height: 100%;*/
/*  height: 100%;*/
/*  max-height: 100%;*/
/*  border-radius: var(--element-radius);*/
/*}*/

/*.notion-collection-card__cover.large {*/
/*  min-height: var(--collection-card-cover-size-medium) !important;*/
/*  height: 0;*/
/*  max-height: var(--collection-card-cover-size-medium) !important;*/
/*}*/

/*.notion-collection-card__cover.medium {*/
/*  min-height: var(--collection-card-cover-size-small) !important;*/
/*  height: 0;*/
/*  max-height: var(--collection-card-cover-size-small) !important;*/
/*}*/

/*.notion-collection-card__cover.small {*/
/*  min-height: var(--collection-card-cover-size-tiny);*/
/*  height: 0;*/
/*  max-height: var(--collection-card-cover-size-tiny);*/
/*}*/

/*.notion-collection-card__content {*/
/*  padding: 0;*/
/*  display: block;*/
/*}*/

/*.notion-collection-card__property {*/
/*  display: inline-grid;*/
/*}*/
/* !END COLLECTION GALLERY */


/* #COLLECTION CARDS */
.notion-collection-card {
    width: 100%;
    height: 100%;
    transition: background 120ms ease-in 0s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: var(--color-card-bg);
    padding: var(--collection-card-padding);
    border-radius: var(--collection-card-border-radii);
    box-shadow: var(--collection-card-shadow);
}

.notion-collection-card.gallery {
    border: 1px solid var(--color-border-default);
    transition: 0.3s ease-in-out;
}

.notion-collection-card:hover {
    background: var(--color-ui-hover-bg-light);
    transform: scale(1.025);
}

.notion-collection-card:hover img {
    transform: scale(1.0);
}

.notion-collection-card__cover {
    border-radius: var(--element-radius);
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
}

/* ^CONTACT PAGE COLLECTION CARD COVER SIZE */
.page__contact .notion-collection-card__cover {
    min-height: var(--collection-card-cover-size-static-small);
    height: 100%;
    width: var(--collection-card-cover-size-static-small);
    margin: 0 auto;
}


/* ^COLLECTION CARD IMG */
/* *OBJECT-FIT: *COVER* */
.notion-collection-card__cover img {
    object-fit: cover !important;
}

/* ^COLLECTION CARD IMG */
/* *OBJECT-FIT: *CONTAIN* ENABLED FOR: */
/* .parent-page__places-states .notion-collection-card__cover img {
      object-fit: contain !important;
} */

/* ^ENLARGE IMAGES ON COLLECTION CARDS */
/* @ENLARGE FLAGS ON STATE COLLECTION CARDS */
.notion-collection-card__property:has(.notion-property.notion-property__file.property-71435e6f) div {
    width: 128px !important;
    height: 128px !important;
    margin: 0 auto !important;
}

.notion-property.notion-property__file.property-undefined div {
    width: var(--collection-card-cover-size-small) !important;
    height: var(--collection-card-cover-size-small) !important;
    margin: 0 auto !important;
}
/* !END ENLARGE IMAGES ON COLLECTION CARDS */

/* ^COLLECTION CARD TITLE FONT */
.notion-collection-card .notion-property__title {
    font-size: var(--font-title-fluid);
}
/* ^COLLECTION CARD TITLE FONT */
.notion-property__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
}
/* ^COLLECTION CARD ICON *OFF* */
.notion-collection-card__content .notion-property__title .notion-semantic-string .notion-page__icon {
    display: none;
}
/* ^COLLECTION TITLE PADDING */
.notion-collection-card__content .notion-property__title .notion-semantic-string .notion-page__title {
    padding: var(--collection-padding);
}

/* #COLLECTION GALLERY */
/* ^COLLECTION CARD GRID COLUMN SIZE */
/* @grid-auto-rows: auto */
/* @Makes each row the size of the min-content */
/* $ENABLED: Directory */
.parent-page__directory .notion-collection-gallery {
    grid-auto-rows: auto;
}
.notion-collection-gallery {
    border-top: var(--collection-gallery-header);
}

.notion-collection-gallery.large,
.notion-collection-gallery.grouped.large {
   grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-medium), 1fr)) !important;
}
.notion-collection-gallery.medium, 
.notion-collection-gallery.grouped.medium {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-small), 1fr)) !important;
}
.notion-collection-gallery.small, 
.notion-collection-gallery.grouped.small {
    grid-template-columns: repeat(var(--grid-layout), minmax(var(--collection-card-cover-size-smaller), 1fr)) !important;
}
/* !END COLLECTION CARD GRID COLUMN SIZE */
.resource .notion-link.notion-page,
.notion-semantic-string .link {
    z-index: unset !important;
    position: relative;
}
/* !END COLLECTION GALLERY */

/* #COLLECTION BOARDS */
/*.notion-collection-board, .notion-collection-board.small, .notion-collection-board.medium, .notion-collection-board.large {*/
/*  background-color: var(--color-bg-default);*/
/*}*/
/* !END COLLECTION BOARDS */


/* #COLLECTION LISTS */
/*.notion-collection-list {*/
/*    border: none;*/
/*    border-radius: var(--element-radius);*/
/*    background-color: var(--color-card-bg);*/
/*    margin: var(--collection-margin);*/
/*    padding: var(--collection-padding);*/
/*}*/

/*.notion-collection-list__item {*/
/*  background-color: var(--color-card-bg);*/
/*}*/

/*.notion-collection-list__item .notion-property__title .notion-semantic-string > span {*/
/*  border-bottom: 2px solid var(--color-bg-yellow-light);*/
/*}*/

/*.notion-collection-list__item .notion-property__title .notion-icon {*/
/*  display: none;*/
/*}*/

/*.notion-numbered-list {*/
/*    margin: 0;*/
/*    padding-inline-start: calc(1em - 8px);*/
/*}*/
/* !END COLLECTION LISTS */


/* #COLLECTION CALENDARS */
/*.notion-collection-card.calendar {*/
/*  background-color: var(--color-bg-yellow-light);*/
/*}*/

/*.notion-collection-card.calendar .notion-property__title {*/
/*  background-color: var(--color-bg-yellow);*/
/*  border-radius: var(--element-radius);*/
/*}*/
/* !END COLLECTION CALENDAR */
/* !END COLLECTIONS */


/* #CREDLY BADGE */
div#block-5df357da07bf4d268800212ce07fdd7b.notion-callout .notion-callout__content {
    justify-content: center;
    display: flex !important;
    background-color: var(--color-text-white);
}
/* !END CREDLY BADGE */

/* #DEMOS */
/* %DEMO: CALLOUTS OF A CERTAIN SIZE*/
div#block-237b9a4d4a4c40e3982ab88abe797a64 .notion-callout,
div#block-fad8cd2cf13d4097a3e7b6702abf1b03 .notion-callout {
  height: 100%;
}
/* %DEMO: SUPER FOOTER PADDING */
#page-portfolio-demos-super-footer-padding .super-footer {
  padding: 10px;
}
/* %DEMO - THANK YOU - Synced Block - List ICONS */
#block-d7f2de0fb44e46f6b5568491bc3699cd img.notion-icon {
  display: block;
}
/* %DEMO: UNCLICKABLE GALLERY IMAGES */
/* @Removes Clicking Cards */
#block-portfolio-demos-unclickable-gallery-images a.notion-link.notion-collection-card__anchor {
    pointer-events: none;
}
/* @Retains Clicking Card Properties */
#block-portfolio-demos-unclickable-gallery-images .gallery .notion-collection-card__content {
  pointer-events: all;
}
/* !! END DEMOS !!*/
/* !END THEME */